.card-dos {
    background-color: #D3E0EF;
    border: 1px solid #00acec;
    padding: 1.8rem 1rem;
    .card-title {
        p {
            span {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
    &:hover {
        .card-title {
            img {
                filter: brightness(0%) invert(100%);
            }
            p {
                color: white;
            }
        }
        background-color: #00acec;
    }
}
.card-dos-active {
    background-color: #01739c;
    .card-title {
        img {
            filter: brightness(0%) invert(100%);
        }
        p {
            color: white;
        }
    }
}
