.card-uno {
    background-color: #D5DDEB;
    width: 320px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    position: relative;
    .card-uno-icon-arrow {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 30px;
        .arrow-back {
            fill: #2566af;
        }
        .arrow-color {
            fill: #fff;
        }
    }
    &:hover {
        .card-uno-icon-arrow {
            .arrow-back {
                fill: #fff;
            }
            .arrow-color {
                fill: #2566af;
            }
        }
        background-color: #2D549D;
        .card-title p {
            color: white;
        }
    }

}
.card-uno-box {
    padding: 2rem;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #2566af;
        text-align: center;
    }
}