.card-tres-container {
    padding: 1rem;
    display: flex!important;
    justify-content: center;
}
.card-tres {
    width: 290px;
    height: 338px;
    position: relative;
}
.card-tres-image {
    position: relative;
    z-index: 1;
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3/3.5;
        border-radius: 1rem;
    }
}
.card-tres-overlay {
    top: 0;
    background: rgb(17,45,106);
    background: linear-gradient(0deg, rgba(17,45,106,1) 0%, rgba(17,45,106,1) 35%, rgba(10, 56, 153, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 1rem;
}
.card-tres-content {
    padding: 1.2rem;
    align-items: center;
    color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 3;
    .card-tres-title {
        font-weight: 700;
        font-size: 1.8rem;
        margin-bottom: .5rem;
        align-self: end;
        line-height: 1.2;
    }
    .card-tres-text {
        font-size: 1.3rem;
        line-height: 1.2;
        align-self: start;
    }
}
@media(max-width: 500px) {

}