.card-cinco-container {
    border: 1px solid red;
    padding: 1rem;
}
.card-cinco-box {
    max-width: 150px;
    width: 100%;
    height: auto;
}
.card-cinco-icon {

}
.card-cinco-title {
    font-size: 1.5rem;
}
.card-cinco-buttons {
    border: 1px solid red;
}