.card-seis-container {
    padding: 4rem 5rem;
    border-radius: 1rem;
    text-align: center;
}
.card-seis-icon {
    img {
        width: 80px;
    }
    margin-bottom: 1rem;
}
.card-seis-text {
    p {
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 300;
        span {
            color: #2566af;
            font-weight: 600;
        }
    }
}