footer {
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 0rem 1.5rem;
}
.social-icons-container {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.social-icon-item {
    width: 2.8rem;
}
.separator {
    hr {
        border: 1.5px solid var(--color-primary);

    }
}
.info-entidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
    img {
        width: 180px;
    }
    p {
        font-weight: 300;
        color: #4f4f4f;
        line-height: 1.4;
    }
}

.up-page-button {
    position: relative;
}
.up-page {
    z-index: 500;
    background-color: white;
    border-radius: 50px;
    -webkit-box-shadow: 6px 0px 10px 0px rgb(165, 165, 165);
    -moz-box-shadow: 6px 0px 10px 0px rgb(165, 165, 165);
    box-shadow: 6px 0px 10px 0px rgb(165, 165, 165);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: .5rem;
    img {
        width: 25px;
    }
}

@media(max-width:600px) {
    .up-page {
        bottom: 2rem;
    }
    .info-entidad {
        padding: 0rem 3.5rem;
        flex-direction: column;
        gap: 1rem;
        p {
            text-align: center;
        }
    }
}