// Navigation
.nav-main {
    position: relative;
    z-index: 10; // Siempre visible de primero
    margin-top: -3px;
}

// Navbar mobile
.nav-burguer {
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.burguer-icon {
    width: 40px;
    height: 40px;
    padding: .8rem;
    stroke: #000000;
}

.nav-container-main {
    background-color: white;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .nav-item {
        font-size: 1rem;
        font-weight: 400;
        a {
            color: var(--color-primary);
        }
        &:hover {
            background-color: var(--hover-nav-color);
            a {
                color: white;
            }
        }
    }
}

.item-active {
    background-color: var(--hover-nav-color);
    color: white;
    font-weight: 400;

    a {
        color: white !important;
        font-weight: 600 !important;
    }
}

.nav-container-dropdown {
    min-height: 4rem;
    padding-top: 1rem;
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    .nav-list-dropdown {
        .nav-item-dropdown {
            a {
                color: white;
            }
        }
    }
}

.nav-list-dropdown {
    display: flex;
    flex-wrap: wrap;
}

.nav-item-dropdown {
    border-right: 1px solid white;

    a {
        font-weight: 600;
        color: white;
    }

    &:first-child {
        border-left: 1px solid white;
    }
}

.nav-list>.nav-item {
    &:hover {
        .nav-container-dropdown {
            display: block;
        }
    }
}


.nav-item a {
    display: flex;
    padding: 1.5rem 1rem;
    text-decoration: none;
}

.container-back {
    position: relative;
    margin-top: -11rem;
    z-index: 1;
}

// Container logo
.container-logo {
    z-index: 6;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.container-logo img {
    position: relative;
    width: 220px;
}

@media(min-width: 1201px) {

    /*   body {
        background-color: lightgreen;
    } */
    .nav-burguer {
        display: none;
    }
}

@media(max-width: 1200px) {
    .nav-list {
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: white;
    }
    .nav-list .nav-item {
        font-weight: 600;
    }
    .nav-list-item {
        width: 100%;
    }

    .nav-container-dropdown {
        position: static;
        padding-top: 0;
        background-color: #f7f7f7;
        display: block;
    }

    .nav-list-dropdown {
        flex-direction: column;
    }
    .nav-container-dropdown .nav-list-dropdown .nav-item-dropdown a {
        color: var(--color-primary);
        font-weight: 400;
    }
}

@media(max-width: 500px) {
}