/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--background-color-page);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper-intern {
  max-width: 30vw;
  margin: 0 auto;
}

.wrapper-intern-70 {
  max-width: 70vw;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 700;
}

.home-icon {
  fill: var(--color-primary);
}

.global-container {
  margin-top: 5rem;
}

.global-title {
  padding: 0rem 1.2rem;
}
.global-title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 3rem;
}

.global-subtitle {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 500;
  color: #2d549d;
  padding: 0rem 2rem;
}

.global-text {
  max-width: 70vw;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}
.global-text p {
  margin-bottom: 2rem;
  padding: 0rem 2rem;
}

.fw-600 {
  font-weight: 600;
}

.btn a {
  background-color: var(--green-500);
  padding: 1rem 4rem;
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border-radius: 2rem;
  font-size: 1.125rem;
}

.d-none {
  display: none;
}

@media (min-width: 1201px) {
  .d-none {
    display: block;
  }
  .wrapper-intern {
    max-width: 50vw;
  }
}
@media (max-width: 1200px) {
  .wrapper-intern {
    max-width: 75vw;
  }
  .wrapper-intern-70 {
    max-width: 90vw;
    margin: 0 auto;
  }
  .global-text {
    max-width: 100vw;
  }
}
@media (max-width: 500px) {
  .wrapper-intern {
    max-width: 90vw;
  }
  .wrapper-intern-70 {
    max-width: 90vw;
    margin: 0 auto;
  }
  .global-container {
    margin-top: 3rem;
  }
  .global-title {
    padding: 1rem;
  }
  .global-title h1 {
    margin-bottom: 0rem;
    font-size: 2rem;
  }
  .global-subtitle {
    font-size: 1.5rem;
    padding: 2rem;
  }
  .global-text {
    padding: 0rem;
    margin-bottom: 1rem;
  }
  .global-text p {
    font-size: 1.3rem;
    padding: 0rem 1rem;
  }
}
:root {
  --color-primary: #112d6a;
  --color-secondary: #2d549d;
  --color-3: #b7d831;
  --green-500: #43a756;
  --white: #FFFFFF;
  --background-color-page: #ECF3FA;
  --hover-nav-color: #2d549d;
  --text-nav-color: #112d6a;
}

.bg1 {
  background-color: rgba(64, 136, 199, 0.8470588235);
}

.bg2 {
  background-color: rgba(67, 167, 85, 0.8470588235);
}

.bg3 {
  background-color: rgba(183, 216, 49, 0.8470588235);
}

.color1 {
  color: var(--color-primary);
}

.page-title {
  margin-top: 3rem;
  padding: 0rem 10%;
}
.page-title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-primary);
}
.page-title p {
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: center;
  color: #2d549d;
}

.page-cards-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.page-cifras-section {
  margin-bottom: 10rem;
}

.cifras-container {
  width: 100%;
  margin-top: 7rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-bottom: 5rem;
}
.cifras-container p {
  display: block;
}

.cards-dos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.page-cards-icons {
  background-image: radial-gradient(80% 100% at bottom, #00acec 100%, #00acec 100%, transparent 100%);
  padding: 2rem;
  padding-top: 8rem;
}

.page-cards-content {
  background-image: radial-gradient(80% 100% at top, #00acec 100%, #00acec 100%, transparent 100%);
  padding: 5rem;
}

@media (max-width: 500px) {
  .page-cards-icons {
    background-image: radial-gradient(300% 100% at bottom, #00acec 100%, #00acec 100%, transparent 100%);
  }
  .page-cards-content {
    background-image: radial-gradient(300% 100% at top, #00acec 100%, #00acec 100%, transparent 100%);
    padding: 2rem;
  }
}
.download-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.download-container a {
  text-decoration: none;
}

.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.icon-download img {
  width: 90px;
}

.text-download {
  position: relative;
  right: 30px;
  padding: 1rem 3rem;
  background-color: #00acec;
  border-radius: 1rem;
}
.text-download p {
  font-size: 1.5rem;
  color: white;
}

.welcome-banner {
  margin-top: 7rem;
}

.welcome-title h1 {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 700;
}

.section-destacados {
  margin: 5rem 0rem;
}
.section-destacados .title {
  margin-bottom: 5rem;
}
.section-destacados .cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-gestion {
  margin: 5rem 0rem;
}
.section-gestion .title {
  margin-bottom: 5rem;
}
.section-gestion .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
}

.section-desarrollo {
  position: relative;
  margin-top: 12rem;
}
.section-desarrollo .title {
  position: relative;
  z-index: 20;
}
.section-desarrollo .title h2 {
  color: white;
}
.section-desarrollo .cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.cards-container-box {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.cards-container-overlay {
  position: absolute;
  top: -6rem;
  height: 30rem;
  width: 100%;
  background-image: radial-gradient(80% 100% at bottom, #4087C7 100%, #4087C7 100%, transparent 100%);
}

.cards-container-slick {
  max-width: 1000px;
  width: 100%;
  display: flex;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .cards-container-overlay {
    background-image: radial-gradient(120% 100% at bottom, #4087C7 100%, #4087C7 100%, transparent 100%);
  }
}
@media (max-width: 500px) {
  .download-container {
    margin-top: 2rem;
  }
  .download-button {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    align-items: center;
    margin-left: 0px;
  }
  .icon-download img {
    width: 50px;
  }
  .text-download {
    right: 0px;
  }
  .text-download p {
    font-size: 1rem;
  }
  .welcome-banner {
    margin-top: 4rem;
  }
  .welcome-title h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }
  .section-gestion .cards-container {
    grid-template-columns: 1fr;
  }
  .cards-container-overlay {
    background-image: radial-gradient(160% 100% at bottom, #4087C7 100%, #4087C7 100%, transparent 100%);
  }
  .cards-container-box {
    padding: 2rem;
  }
}
.section-reconocimientos {
  margin-top: 5rem;
}

.reconocimiento-cards {
  margin-top: 5rem;
}

.reconocimiento-box {
  max-width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

@media (min-width: 1201px) {
  .reconocimiento-box {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (max-width: 1200px) {
  .reconocimiento-box {
    padding: 1.5rem;
    max-width: 900vw;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (max-width: 500px) {
  .reconocimiento-cards {
    margin-top: 2rem;
  }
}
.estrategia-corporativa-container {
  border: 1px solid red;
}

.estrategia-box {
  margin-top: 5rem;
}

.estrategia-title {
  margin-bottom: 5rem;
}

.estrategia-text {
  margin: 0 auto;
  max-width: 46vw;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.3;
}
.estrategia-text p {
  margin-bottom: 2rem;
}

.section-calificaciones-cards {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.section-calificaciones-cards .card-uno {
  background-color: #DAEDDD;
}
.section-calificaciones-cards .card-uno:hover {
  background-color: #43a756;
}
.section-calificaciones-cards .card-uno .card-uno-icon-arrow .arrow-back {
  fill: #43a756;
}
.section-calificaciones-cards .card-uno:hover .card-uno-icon-arrow .arrow-color {
  fill: #43a756;
}
.section-calificaciones-cards .card-uno .card-title p {
  color: #43a756;
}

.section-calificaciones-box {
  margin-top: 1rem;
}

.section-calificaciones-texto {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}
.section-calificaciones-texto .texto-box {
  max-width: 38vw;
  text-rendering: optimizeLegibility;
  margin: 2.5rem;
}
.section-calificaciones-texto .texto-box h2 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-secondary);
}
.section-calificaciones-texto .texto-box p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

@media (max-width: 1200px) {
  .section-calificaciones-cards {
    align-items: center;
    margin-top: 1rem;
  }
  .section-calificaciones-texto {
    padding: 0;
  }
  .section-calificaciones-texto .texto-box {
    max-width: 90vw;
    margin: 2rem;
  }
}
@media (max-width: 500px) {
  .section-calificaciones-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .section-calificaciones-texto {
    padding: 0;
  }
  .section-calificaciones-texto .texto-box {
    max-width: 90vw;
    margin: 2rem;
  }
}
.directivos-subtitle {
  margin-bottom: 2rem;
}
.directivos-subtitle h2 {
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-secondary);
}

.directivos-text {
  margin: 0 auto;
  max-width: 50vw;
}
.directivos-text p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.directivos-banner {
  padding: 1.5rem;
}

.directivos-banner-title {
  padding: 1rem;
  background-color: #00acec;
}
.directivos-banner-title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.directivos-banner-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  background-color: #2566af;
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.directivos-list-container {
  margin-bottom: 5rem;
}

.directivos-list-title {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
}
.directivos-list-title h2 {
  font-size: 2.25rem;
  font-weight: 500;
  color: #2d549d;
}

.directivos-list-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.directivos-list-content ul {
  padding: 2rem;
}
.directivos-list-content ul li {
  line-height: 1.8;
}
.directivos-list-content ul li span {
  font-weight: 600;
  color: #2d549d;
}

.directivos-fotos-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.directivos-fotos-box img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.directivos-button {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .directivos-subtitle h2 {
    font-size: 1.5rem;
  }
  .directivos-list-content {
    grid-template-columns: 1fr;
  }
  .directivos-text {
    max-width: 80vw;
  }
  .directivos-fotos-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1201px) {
  .directivos-text {
    max-width: 80vw;
  }
}
.talento-image img {
  width: 100%;
  object-fit: cover;
}

.talento-box {
  position: relative;
  top: -100px;
  background-color: #D9F3FC;
  padding: 4rem;
  max-width: 960px;
}

.talento-title h1 {
  text-align: center;
  color: #112d6a;
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.talento-text {
  line-height: 1.5;
  font-size: 18px;
}
.talento-text p {
  margin-bottom: 2rem;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .talento-box {
    background-color: #D9F3FC;
    padding: 3rem;
    max-width: 90vw;
    top: -30px;
  }
  .talento-title h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .talento-box {
    background-color: #D9F3FC;
    padding: 2rem;
    max-width: 85vw;
    top: -30px;
  }
  .talento-title h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.innovacion-container {
  margin-top: 5rem;
}

.innovacion-box {
  padding: 2rem;
}

.innovacion-title h1 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.innovacion-text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 900px;
  text-align: center;
  margin-bottom: 3rem;
}
.innovacion-text p {
  line-height: 1.2;
  font-size: 1.5rem;
  color: #2d549d;
}

.innovacion-section1 {
  padding: 3rem;
  background-color: #1e6f41;
}
.innovacion-section1 .section1-text {
  margin: 0 auto;
  max-width: 50vw;
  text-align: center;
}
.innovacion-section1 .section1-text p {
  font-size: 1.375rem;
  line-height: 1.2;
  color: white;
}

.innovacion-section2 {
  background-color: #43a756;
  display: flex;
  justify-content: center;
}

.section2-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 50vw;
  padding: 2rem;
}

.section2-item {
  border-left: 2px solid #b7d831;
}
.section2-item p {
  padding: 1.125rem;
  line-height: 1.5;
  color: var(--white);
}

.innovacion-section3 {
  background-image: radial-gradient(60% 40% at top, #43a756 100%, #43a756 100%, transparent 100%);
}
.innovacion-section3 .section3-box {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.innovacion-section3 .section3-box img {
  max-width: 912px;
  width: 100%;
}

.innovacion-section4 {
  margin-top: 5rem;
}

.section4-title {
  max-width: 40vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.section4-title p {
  font-size: 1.375rem;
  text-align: center;
  line-height: 1.5;
}

.section4-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.section4-cards .card-seis-container {
  background-color: #F4F9E0;
}
.section4-cards .card-seis-container .card-seis-box .card-seis-text p span {
  color: #1e6f41;
}

@media (max-width: 1200px) {
  .section2-wrapper {
    flex-direction: column;
    max-width: 80vw;
  }
  .innovacion-section1 .section1-text {
    max-width: 90vw;
  }
  .section2-wrapper {
    flex-direction: column;
    max-width: 90vw;
  }
  .innovacion-section4 {
    margin-top: 1rem;
  }
  .section4-title {
    max-width: 80vw;
  }
  .section4-cards {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
  .section4-cards .card-seis-container {
    padding: 4rem 2rem;
  }
}
.sostenibilidad-container {
  margin-top: 5rem;
}

.sostenibilidad-title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 3rem;
}

.sostenibilidad-text {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}

.responsabilidad-container {
  margin-top: 5rem;
}

.responsabilidad-title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 3rem;
}

.responsabilidad-text {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}
.responsabilidad-text p {
  margin-bottom: 2rem;
}

.gestion-ambiental-container {
  margin-top: 5rem;
}

.gestion-ambiental-title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 3rem;
}

.gestion-ambiental-text {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}
.gestion-ambiental-text p {
  margin-bottom: 2rem;
}

.contribucion-container {
  margin-left: 15%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.contribucion-text {
  padding: 2rem 4rem;
}
.contribucion-text p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.contribucion-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}

.objetivos-banner-box {
  margin-top: 6rem;
}

.objetivos-banner-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 3rem 0rem;
  border: 1px 0px;
  border-top: 2px dotted var(--green-500);
  border-bottom: 2px solid var(--green-500);
  border-style: dashed;
}

.objetivos-noborder {
  border-top: none;
}

.objetivos-title {
  color: #43a756;
  font-weight: 600;
  font-size: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.objetivos-title h2 {
  display: flex;
  justify-content: baseline;
  text-align: center;
  line-height: 1.2;
}

.objetivos-icons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
}
.objetivos-icons-grid img {
  max-width: 150px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media (min-width: 1401px) {
  .contribucion-container {
    margin-left: 10%;
  }
}
@media (max-width: 1400px) {
  .contribucion-container {
    margin-left: 5%;
  }
}
@media (max-width: 1200px) {
  .contribucion-container {
    margin-left: 0%;
    grid-template-columns: 1fr;
  }
  .contribucion-text {
    padding: 2rem 2rem;
  }
  .objetivos-banner-container {
    grid-template-columns: 1fr 2fr;
    gap: 0rem;
    padding: 1.5rem;
    margin-top: 1rem;
    justify-items: center;
  }
  .objetivos-icons-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .objetivos-banner-container {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 1.5rem;
    margin-top: 1rem;
    justify-items: center;
  }
}
.planificacion-text {
  padding: 2rem;
  margin-top: 1rem;
}
.planificacion-text p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.planificacion-banner .video-banner-container .video-banner .video-text {
  background-color: #4087c7;
}
.planificacion-banner .video-banner-container .video-banner .video-text p {
  font-weight: 600;
}

@media (max-width: 500px) {
  .planificacion-text {
    margin-top: 1rem;
  }
}
.asistencia-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.asistencia-text {
  background-color: #CCEEFB;
  padding: 3rem;
}
.asistencia-text p {
  line-height: 1.5;
  font-size: 1.185rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
.asistencia-text span {
  color: #2566af;
  font-weight: 500;
}

.asistencia-image img {
  width: 100%;
  aspect-ratio: 4/3.5;
  object-fit: cover;
}

.asistencia-textimage-box {
  border: 1px solid red;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.image-box img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5/3;
}

.economia-section1 {
  background-color: #43a756;
  margin-top: 6rem;
}

.economia1-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.economia1-box .economia1-text {
  padding: 2rem;
  line-height: 1.5;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.economia1-box .economia1-text p {
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
.economia1-box .economia1-img img {
  display: flex;
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
}

.economia-section2 {
  background-image: radial-gradient(80% 100% at top, #1e6f41 100%, #1e6f41 100%, transparent 100%);
  padding: 5rem;
  margin-bottom: 5rem;
}

.economia2-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.economia2-item {
  padding: 2rem;
  border-right: 2px dashed var(--color-3);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.economia2-item-image {
  align-self: self-end;
  text-align: center;
  margin-bottom: 1rem;
}
.economia2-item-image img {
  max-width: 120px;
  width: 100%;
}

.economia2-item-text {
  font-size: 1.125rem;
  line-height: 1.3;
  color: white;
  text-align: center;
}

.economia-section3 {
  margin-bottom: 5rem;
}

.economia3-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.economia3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.economia3-text p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.economia3-img img {
  width: 100%;
  aspect-ratio: 2/1.5;
  object-fit: cover;
}

.economia4-title {
  text-align: center;
  margin-bottom: 2rem;
}
.economia4-title h2 {
  font-size: 2.25rem;
  color: var(--color-secondary);
}

.economia4-container {
  padding: 3rem;
}

.economia4-box {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.economia5-title {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  color: #43a756;
  font-weight: 500;
}

.economia5-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.economia5-text {
  padding: 2rem;
}
.economia5-text p {
  margin-bottom: 2rem;
  line-height: 1.5;
}
.economia5-text span {
  margin-bottom: 2rem;
  display: block;
  font-size: 1.8rem;
}

.economia5-img {
  padding: 2rem;
}
.economia5-img img {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
}

.finanzas1-box {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  margin-bottom: 6rem;
}

.finanzas1-text {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.finanzas1-grafico {
  padding: 2rem;
}
.finanzas1-grafico img {
  box-shadow: 0px 0px 20px 0px rgb(181, 181, 181);
  border-radius: 1.5rem;
}

.finanzas-section2 {
  background-color: #112d6a;
  margin-top: 10rem;
}

.finanzas-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
  top: -5rem;
}

.finanzas-section3 {
  background-color: #2d549d;
}

.finanzas3-cards {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.finanzas3-item {
  color: white;
  line-height: 1.5;
  border-left: 2px dashed #6e8eca;
  padding: 2rem;
}
.finanzas3-item:first-child {
  border: none;
}

.finanzas3-image {
  text-align: center;
  padding: 2rem;
}

.finanzas-slider-item {
  background-image: radial-gradient(100% 60% at top, #2d549d 100%, #2d549d 100%, transparent 100%);
  display: none;
}

.finanzas-slider-item:first-child {
  display: block;
}

.finanzas2-text {
  padding: 1rem;
  background-color: #112d6a;
}
.finanzas2-text p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4;
  padding: 0rem 2rem;
  color: white;
}

@media (max-width: 1200px) {
  .finanzas1-box {
    grid-template-columns: 1fr;
  }
  .finanzas1-text {
    font-size: 1.5rem;
    text-align: center;
  }
  .finanzas1-grafico {
    text-align: center;
  }
  .finanzas1-grafico img {
    max-width: 600px;
    width: 100%;
  }
  .finanzas-box {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .finanzas3-cards {
    grid-template-columns: 1fr;
  }
  .finanzas3-image {
    padding: 1rem;
  }
  .finanzas3-image img {
    width: 100%;
  }
  .finanzas-slider-item {
    background-image: radial-gradient(200% 98% at top, #2d549d 100%, #2d549d 100%, transparent 100%);
    display: none;
  }
}
.botones {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.boton-slide, .boton-slide2 {
  border: 5px solid red;
  padding: 5rem;
  background-color: blue;
}

.contenedor {
  border: 1px solid red;
  padding: 3rem;
}

.slide-item, .slide-item2 {
  border: 1px solid red;
  padding: 2rem;
  height: 300px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-item p, .slide-item2 p {
  font-size: 4rem;
  font-weight: 700;
}

.slide-item, .slide-item2 {
  display: none;
}

.slide-item:first-child, .slide-item2:first-child {
  display: block;
}

.cifras-item {
  display: none;
}

.cifras-item:first-child {
  display: block;
}

.texto-box {
  display: none;
}

.texto-box:first-child {
  display: block;
}

.productos-banner-container {
  margin-top: 5rem;
  background-color: #2d549d;
  padding-bottom: 8rem;
  padding-top: 4rem;
  background-image: radial-gradient(70% 15% at bottom, #00acec 100%, #00acec 100%, transparent 100%);
}

.produtos-banner-title h3 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.productos-banner-box {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.banner-item1 img {
  width: 250px;
}

.banner-item2 img {
  width: 700px;
}

@media (max-width: 1200px) {
  .productos-banner-container {
    background-image: radial-gradient(100% 12% at bottom, #00acec 100%, #00acec 100%, transparent 100%);
  }
  .produtos-banner-title {
    padding: 1.5rem;
  }
  .produtos-banner-title h3 {
    font-size: 1.3rem;
    line-height: 1.3;
  }
  .productos-banner-box {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
  }
  .banner-item1 {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .banner-item1 img {
    max-width: 400px;
    width: 100%;
  }
  .banner-item2 {
    padding: 1rem;
  }
  .banner-item2 img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .banner-item1 {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .banner-item1 img {
    max-width: 200px;
    width: 100%;
  }
}
.financiacion-sectores-box {
  padding: 3rem;
}
.financiacion-sectores-box img {
  width: 100%;
  margin-bottom: 5rem;
}

.financiacion-desembolsos-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.desembolsos-image {
  padding: 2rem;
}

.desembolsos-aside {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.desembolsos-aside img {
  max-width: 350px;
  width: 100%;
}

.desembolsos-graphs-box {
  padding: 2rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.financiacion-nuevas-lineas {
  background-color: #D9F3FC;
}

.nuevas-lineas-title {
  background-color: #00acec;
  padding: 1rem;
}
.nuevas-lineas-title h3 {
  font-size: 1.875rem;
  text-align: center;
  color: white;
  font-weight: 600;
}

.nuevas-lineas-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.nuevas-lineas-text {
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.nuevas-lineas-table {
  padding: 3rem;
}

@media (max-width: 1200px) {
  .financiacion-sectores-box {
    padding: 1rem;
  }
  .financiacion-sectores-box img {
    margin-bottom: 0rem;
  }
  .financiacion-desembolsos-box {
    grid-template-columns: 1fr;
  }
  .desembolsos-image {
    padding: 1rem;
  }
  .desembolsos-image img {
    padding: 0rem;
  }
  .desembolsos-graphs-box {
    grid-template-columns: 1fr;
    padding: 1rem;
    place-items: center;
  }
  .desembolsos-graphs-box img {
    max-width: 700px;
    width: 100%;
  }
  .nuevas-lineas-content {
    grid-template-columns: 1fr;
  }
  .nuevas-lineas-table {
    padding: 1rem;
  }
  .nuevas-lineas-text, .nuevas-lineas-table {
    padding: 0rem 3rem;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }
}
.header-top__ribbon {
  background-image: url("../images/senefatopok.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 20px;
}
.header-top__ribbon img {
  min-width: 1900px;
  width: 100%;
}

.header-logo-finde {
  background-color: var(--color-primary);
  padding: 1.2rem;
  display: flex;
  justify-content: center;
}

.header-logo-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header-logo-image img {
  max-width: 200px;
}

.nav-main {
  position: relative;
  z-index: 10;
  margin-top: -3px;
}

.nav-burguer {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.burguer-icon {
  width: 40px;
  height: 40px;
  padding: 0.8rem;
  stroke: #000000;
}

.nav-container-main {
  background-color: white;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.nav-list .nav-item {
  font-size: 1rem;
  font-weight: 400;
}
.nav-list .nav-item a {
  color: var(--color-primary);
}
.nav-list .nav-item:hover {
  background-color: var(--hover-nav-color);
}
.nav-list .nav-item:hover a {
  color: white;
}

.item-active {
  background-color: var(--hover-nav-color);
  color: white;
  font-weight: 400;
}
.item-active a {
  color: white !important;
  font-weight: 600 !important;
}

.nav-container-dropdown {
  min-height: 4rem;
  padding-top: 1rem;
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}
.nav-container-dropdown .nav-list-dropdown .nav-item-dropdown a {
  color: white;
}

.nav-list-dropdown {
  display: flex;
  flex-wrap: wrap;
}

.nav-item-dropdown {
  border-right: 1px solid white;
}
.nav-item-dropdown a {
  font-weight: 600;
  color: white;
}
.nav-item-dropdown:first-child {
  border-left: 1px solid white;
}

.nav-list > .nav-item:hover .nav-container-dropdown {
  display: block;
}

.nav-item a {
  display: flex;
  padding: 1.5rem 1rem;
  text-decoration: none;
}

.container-back {
  position: relative;
  margin-top: -11rem;
  z-index: 1;
}

.container-logo {
  z-index: 6;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.container-logo img {
  position: relative;
  width: 220px;
}

@media (min-width: 1201px) {
  /*   body {
      background-color: lightgreen;
  } */
  .nav-burguer {
    display: none;
  }
}
@media (max-width: 1200px) {
  .nav-list {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: white;
  }
  .nav-list .nav-item {
    font-weight: 600;
  }
  .nav-list-item {
    width: 100%;
  }
  .nav-container-dropdown {
    position: static;
    padding-top: 0;
    background-color: #f7f7f7;
    display: block;
  }
  .nav-list-dropdown {
    flex-direction: column;
  }
  .nav-container-dropdown .nav-list-dropdown .nav-item-dropdown a {
    color: var(--color-primary);
    font-weight: 400;
  }
}
.video-banner-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  padding: 2rem;
  margin-top: 3rem;
}

.video-banner {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.video-text {
  background-color: #43A756;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  border-radius: 4rem 0rem 0rem 0rem;
}
.video-text p {
  font-size: 1.8rem;
  line-height: 1.3;
  color: white;
  margin-bottom: 2rem;
}
.video-text a {
  padding: 0.8rem 4rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 50px;
  background-color: white;
  color: var(--color-primary);
}

.video-embed img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .video-banner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .video-text p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .video-banner-container {
    margin-top: 1rem;
  }
  .video-text {
    padding: 2.5rem;
  }
  .video-text p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
.file-banner-container {
  margin-top: 5rem;
  padding: 2rem;
}

.file-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.file-image {
  width: 100%;
}
.file-image img {
  display: flex;
  width: 100%;
}

.file-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.file-content img {
  max-width: 64px;
  opacity: 0.5;
}

.file-embed {
  background-color: #4087C7;
  border-radius: 0rem 0rem 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.file-embed a {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: white;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .file-banner {
    grid-template-columns: 1fr;
  }
  .file-embed {
    padding: 3rem;
  }
}
@media (max-width: 500px) {
  .file-banner-container {
    margin-top: 0rem;
  }
  .file-embed a {
    font-size: 1.5rem;
  }
}
.cifra-space-box {
  padding: 2rem 2rem;
  display: none;
}

.cifra-space-box:first-child {
  display: block;
}

.cifra-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.cifra-icon .icon-img {
  max-width: 150px;
  width: 100%;
  filter: brightness(0%) invert(100%);
}
.cifra-icon .cifra-text p {
  font-size: 4rem;
  text-align: center;
  color: white;
}
.cifra-icon .cifra-text p span {
  font-weight: 600;
}

@media (max-width: 500px) {
  .cifra-icon .cifra-text p {
    font-size: 2rem;
  }
}
.card-uno {
  background-color: #D5DDEB;
  max-width: 320px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  position: relative;
}
.card-uno .card-uno-icon-arrow {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 30px;
}
.card-uno .card-uno-icon-arrow .arrow-back {
  fill: #2566af;
}
.card-uno .card-uno-icon-arrow .arrow-color {
  fill: #fff;
}
.card-uno:hover {
  background-color: #2D549D;
}
.card-uno:hover .card-uno-icon-arrow .arrow-back {
  fill: #fff;
}
.card-uno:hover .card-uno-icon-arrow .arrow-color {
  fill: #2566af;
}
.card-uno:hover .card-title p {
  color: white;
}

.card-uno-box {
  padding: 2rem;
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title img {
  width: 85px;
}
.card-title p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2566af;
  text-align: center;
}

.card-dos {
  background-color: #D3E0EF;
  border: 1px solid #00acec;
  padding: 1.8rem 1rem;
}
.card-dos .card-title p span {
  font-size: 1.2rem;
  font-weight: 400;
}
.card-dos:hover {
  background-color: #00acec;
}
.card-dos:hover .card-title img {
  filter: brightness(0%) invert(100%);
}
.card-dos:hover .card-title p {
  color: white;
}

.card-tres-container {
  padding: 1rem;
  display: flex !important;
  justify-content: center;
}

.card-tres {
  width: 290px;
  height: 338px;
  position: relative;
}

.card-tres-image {
  position: relative;
  z-index: 1;
  width: 100%;
}
.card-tres-image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/3.5;
  border-radius: 1rem;
}

.card-tres-overlay {
  top: 0;
  background: rgb(17, 45, 106);
  background: linear-gradient(0deg, rgb(17, 45, 106) 0%, rgb(17, 45, 106) 35%, rgba(10, 56, 153, 0.5) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 1rem;
}

.card-tres-content {
  padding: 1.2rem;
  align-items: center;
  color: white;
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 3;
}
.card-tres-content .card-tres-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  align-self: end;
  line-height: 1.2;
}
.card-tres-content .card-tres-text {
  font-size: 1.3rem;
  line-height: 1.2;
  align-self: start;
}

.card-cuatro {
  position: relative;
  min-width: 320px;
  width: 100%;
}

.card-cuatro-image {
  position: relative;
  z-index: 1;
}
.card-cuatro-image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5/3;
  display: flex;
}

.card-cuatro-overlay {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.card-cuatro-content {
  padding: 3rem 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}
.card-cuatro-content .card-cuatro-icon {
  padding: 1rem;
}
.card-cuatro-content .card-cuatro-icon img {
  width: 60px;
}
.card-cuatro-content .card-cuatro-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.card-cuatro-content .card-cuatro-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 500px) {
  .card-cuatro-content {
    padding: 1rem 2rem;
    justify-content: center;
  }
  .card-cuatro-image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 5/4;
    display: flex;
  }
}
.card-cinco-container {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 50px;
}

.card-cinco-box {
  width: 100%;
  height: auto;
  text-align: center;
}

.card-cinco-icon {
  margin-bottom: 1rem;
}
.card-cinco-icon img {
  width: 100px;
}

.card-cinco-title {
  font-size: 1.5rem;
  color: #2d549d;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.card-cinco-buttons {
  align-self: end;
  justify-self: center;
}
.card-cinco-buttons a {
  min-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4087c7;
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 2rem;
  text-align: center;
}

.card-seis-container {
  background-color: #C8E7F6;
  padding: 4rem 3rem;
  border-radius: 1rem;
  text-align: center;
}

.card-seis-icon {
  margin-bottom: 1rem;
}
.card-seis-icon img {
  width: 80px;
}

.card-seis-text p {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 300;
}
.card-seis-text p span {
  color: #2566af;
  font-weight: 600;
}

footer {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 0rem 1.5rem;
}

.social-icons-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.social-icon-item {
  width: 2.8rem;
}

.separator hr {
  border: 1.5px solid var(--color-primary);
}

.info-entidad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.info-entidad img {
  width: 180px;
}
.info-entidad p {
  font-weight: 300;
  color: #4f4f4f;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .info-entidad {
    flex-direction: column;
    gap: 1rem;
  }
  .info-entidad p {
    text-align: center;
  }
}
.cifra {
  width: 290px;
  height: 130px;
  text-align: center;
  place-self: center;
}
.cifra span {
  font-size: 2.875rem;
  font-weight: 600;
  color: #2566af;
}
.cifra p {
  font-size: 1.875rem;
  font-weight: 500;
}

header {
  position: relative;
}

.header-image {
  position: relative;
  height: 100%;
}
.header-image img {
  width: 100%;
}

.header-home {
  position: absolute;
  top: 4px;
  margin: -3px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 5rem;
}

.header-logo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.header-logo img {
  width: 250px;
  filter: drop-shadow(0px 0px 6px rgba(114, 114, 114, 0.8039215686));
}

.header-text {
  text-align: right;
  font-size: 4.5rem;
  padding: 12rem 6rem;
  line-height: 1.2;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.486);
  color: white;
}
.header-text p .sc1 {
  font-weight: 700;
}
.header-text p .sc2 {
  font-weight: 300;
}
.header-text p .sc3 {
  font-weight: 700;
  color: var(--color-3);
}

@media (max-width: 1200px) {
  .header-home {
    padding: 5rem 5rem;
  }
  .header-logo img {
    width: 200px;
  }
  .header-text {
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .header-home {
    padding: 0rem 0rem;
  }
  .header-logo {
    padding: 1rem;
  }
  .header-logo img {
    width: 150px;
  }
  .header-text {
    font-size: 1.9rem;
    padding: 1rem;
    padding-bottom: 3rem;
  }
}
.section-impacto-container {
  margin-top: 5rem;
  background-image: radial-gradient(100% 75% at top, var(--color-primary) 100%, var(--color-primary) 100%, transparent 100%);
}

.section-impacto-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: -100px;
}

.impacto-text {
  padding: 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.impacto-title {
  font-weight: 700;
  margin-bottom: 2rem;
}
.impacto-title h2 {
  font-size: 3.75rem;
  line-height: 1.2;
}

.impacto-description {
  font-size: 1.5rem;
  line-height: 1.2;
}

.impacto-image-map {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.impacto-image-map img {
  max-width: 550px;
  width: 100%;
}

.impacto-buttons-box {
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

@media (max-width: 1200px) {
  .section-impacto-container {
    background-image: radial-gradient(150% 85% at top, var(--color-primary) 100%, var(--color-primary) 100%, transparent 100%);
    margin-bottom: 5rem;
  }
  .section-impacto-box {
    grid-template-columns: 1fr;
    position: relative;
    top: 5rem;
  }
  .impacto-text {
    text-align: center;
  }
  .impacto-title h2 {
    font-size: 3rem;
    line-height: 1.2;
  }
}
.proposito-section-1 {
  text-align: center;
  background-color: var(--green-500);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 6rem;
}

.section-1-icon {
  width: 100%;
  position: absolute;
  top: -60px;
  margin-bottom: 1rem;
}
.section-1-icon img {
  width: 125px;
}

.section-1-text {
  margin-top: 3rem;
}
.section-1-text h2 {
  font-size: 2.25rem;
  color: white;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.1;
}
.section-1-text p {
  font-size: 1.375rem;
  line-height: 1.5;
  color: white;
  font-weight: 500;
}

.proposito-section-2 {
  background-color: #DBEC98;
}

.section-2-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  padding: 2rem;
}

.section-2-item {
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.section-2-icon img {
  width: 125px;
}

.section-2-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-2-text h3 {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--green-500);
}
.section-2-text p {
  font-weight: 300;
  font-weight: 1.125rem;
  line-height: 1.5;
  font-size: 1.125rem;
}

.proposito-section-3 {
  background-color: #1e6f41;
  padding-bottom: 3rem;
}

.section-3-top-title {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.section-3-top-title h2 {
  font-size: 1.875rem;
  font-weight: 500;
  color: white;
}

.section-3-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.section-3-item {
  padding: 2rem;
  border-right: 2px dashed var(--color-3);
}
.section-3-item .section-3-title h3 {
  font-size: 3.75rem;
  color: var(--color-3);
  font-weight: 500;
}
.section-3-item .section-3-text {
  color: white;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.125rem;
}
.section-3-item:last-child {
  border-right: none;
}

.proposito-section-4 {
  background-image: radial-gradient(100% 75% at top, #1e6f41 100%, #1e6f41 100%, transparent 100%);
}

.section-4-box {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.section-4-box img {
  max-width: 1100px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/8;
}

@media (max-width: 1200px) {
  .section-2-box {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .section-2-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.proposito-section-5 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  padding-top: 3rem;
}
.proposito-section-5 a {
  background-color: var(--green-500);
  padding: 1rem 4rem;
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border-radius: 2rem;
  font-size: 1.125rem;
}

@media (max-width: 500px) {
  .section-2-box {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .section-2-item {
    flex-direction: column;
  }
  .section-1-text p {
    font-size: 1.2rem;
  }
  .section-3-item {
    padding: 2rem;
    border-right: none;
  }
}
.calificaciones-banner-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
}

.section-banner {
  padding: 6rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-icon img {
  max-width: 100px;
}

.section-text {
  font-size: 1.2rem;
  color: white;
  line-height: 1.3;
  font-weight: 400;
}

.section-number {
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.8;
  color: white;
}

.section-banner-photo {
  display: flex;
}
.section-banner-photo img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/4;
}

.bgcard-1 {
  background-color: #43a756;
}

.bgcard-2 {
  background-color: var(--color-3);
}
.bgcard-2 .section-text, .bgcard-2 .section-number {
  color: #1E6F41;
}

@media (max-width: 1200px) {
  .calificaciones-banner-box {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .calificaciones-banner-box {
    grid-template-columns: 1fr;
  }
  .section-banner-photo {
    display: flex;
  }
  .section-banner-photo img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}
.directivo-item {
  padding: 1.2rem;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.2;
}

.directivo-avatar {
  margin-bottom: 1rem;
}
.directivo-avatar img {
  border-radius: 50px;
  width: 80px;
}

.directivo-nombre {
  color: #b7d831;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.directivo-cargo p {
  color: white;
  font-size: 1.125rem;
}

.financiacion-banner-container {
  padding: 2rem;
}

.financiacion-title {
  background-color: #1e6f41;
  padding: 1.2rem;
}
.financiacion-title p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  color: white;
}

.financiacion-text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--green-500);
}
.financiacion-text .financiacion-image {
  padding: 2rem 0rem;
}
.financiacion-text .financiacion-image img {
  width: 100%;
  object-fit: cover;
}
.financiacion-text .financiacion-cifras {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.financiacion-cifra {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.financiacion-cifra .cifra-icono {
  padding: 0.5rem;
}
.financiacion-cifra .cifra-icono img {
  width: 100%;
}
.financiacion-cifra .cifra-content .cifra-text h2 {
  font-size: 1.8rem;
  line-height: 1.2;
  color: white;
  font-weight: 600;
}
.financiacion-cifra .cifra-content .cifra-body p {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
  line-height: 1.1;
}

.financiacion-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: radial-gradient(60% 100% at top, #DBEC98 100%, #DBEC98 100%, transparent 100%);
}

.financiacion-number-box {
  gap: 1rem;
  display: flex;
}
.financiacion-number-box .financiacion-number-icon img {
  width: 170px;
}

.financiacion-number-body .body-title {
  font-size: 9.5rem;
  font-weight: 700;
  text-align: center;
  color: #1e6f41;
}
.financiacion-number-body .body-title span {
  font-size: 2rem;
  display: block;
}
.financiacion-number-body .body-text {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.financiacion-image-overflow {
  padding: 1.5rem;
}
.financiacion-image-overflow img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .financiacion-cifras {
    justify-content: center;
    align-items: center;
  }
  .financiacion-text {
    grid-template-columns: 1fr;
  }
  .financiacion-cifra .cifra-icono {
    padding: 0rem;
  }
  .financiacion-cifra .cifra-icono img {
    max-width: 100px;
  }
}
@media (max-width: 500px) {
  .financiacion-cifra {
    grid-template-columns: 1fr;
  }
  .financiacion-text .financiacion-image {
    padding: 0rem 0rem;
  }
  .financiacion-text {
    grid-template-columns: 1fr;
  }
  .financiacion-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: radial-gradient(150% 100% at top, #DBEC98 100%, #DBEC98 100%, transparent 100%);
  }
  .financiacion-number-box {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .financiacion-number-box .financiacion-number-icon {
    text-align: center;
  }
  .financiacion-number-box .financiacion-number-icon img {
    width: 100px;
  }
  .financiacion-number-body .body-title {
    font-size: 5rem;
  }
}
.slider-desarrollo {
  padding: 1rem;
  background-color: #2566af;
}

.slider-desarrollo-container {
  padding: 2rem;
  padding-top: 4rem;
}

.slider-desarrollo-box {
  padding: 0rem;
}
.slider-desarrollo-box .slick-dots li button:before {
  color: white;
}

.desarrollo-item-box {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  margin-bottom: 1.5rem;
}

.desarrollo-item-image img {
  border-radius: 3rem 0rem;
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: cover;
}

.desarrollo-item-text {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desarrollo-item-text p {
  font-size: 1.125rem;
  font-weight: 300;
  color: white;
  line-height: 1.5;
}
.desarrollo-item-text p span {
  font-weight: 600;
  color: white;
  line-height: 1.6;
  display: block;
}

@media (max-width: 1000px) {
  .desarrollo-item-box {
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .desarrollo-item-box {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .slider-desarrollo {
    padding: 0rem;
    background-color: #2566af;
  }
  .slider-desarrollo-container {
    padding: 1.5rem;
    padding-top: 4rem;
  }
}
.slider-planificacion {
  background-color: #2d549d;
  margin-top: 5rem;
  margin-bottom: 7rem;
  padding: 0rem;
  max-height: 520px;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 65vw;
}

.slider-planificacion-container {
  width: 100%;
  padding: 2rem;
}

.slider-item img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/4;
}

.slider-planificacion-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 3rem;
}
.slider-planificacion-text p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  color: white;
}
.slider-planificacion-text a {
  color: var(--color-3);
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 600;
}
.slider-planificacion-text a span {
  display: block;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .slider-planificacion {
    max-height: 100%;
  }
  .slider-planificacion-text {
    padding: 0rem 3rem;
    padding-bottom: 3rem;
  }
  .slider-wrapper {
    display: grid;
    grid-template-columns: 100%;
    max-width: 95vw;
  }
}
.slider-asistencia {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.slider-asistencia-container {
  padding: 3rem;
  padding-bottom: 1rem;
  background-color: #2D549D;
}

.slider-asistencia-item {
  padding: 1.5rem;
}

.asistencia-item-image img {
  width: 100%;
  aspect-ratio: 2/1.8;
  object-fit: cover;
  border-radius: 3rem 0rem 0rem 0rem;
}

.asistencia-item-text {
  background-color: #00ACEC;
  color: white;
  padding: 0.8rem 1rem;
  line-height: 1.3;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 0rem 0rem 3rem 0rem;
}

.asistencia-textimage-box {
  display: none;
}
.asistencia-textimage-box:first-child {
  display: block;
}

.gestion-ambiental-banner-container {
  background-image: radial-gradient(60% 50% at bottom, #b7d831 100%, #b7d831 100%, transparent 100%);
  padding-bottom: 2rem;
}

.gestion-ambiental-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.gestion-ambiental-buttons .ambiental-button {
  background-color: #E9F3C1;
  border-radius: 50%;
  padding: 1.2rem;
}
.gestion-ambiental-buttons .ambiental-button img {
  width: 250px;
}
.gestion-ambiental-buttons .ambiental-button:hover {
  background-color: #1e6f41;
}
.gestion-ambiental-buttons .ambiental-button:hover img {
  filter: brightness(0) saturate(100%) invert(76%) sepia(98%) saturate(340%) hue-rotate(17deg) brightness(89%) contrast(100%);
}

.slide-content {
  background-color: #b7d831;
  display: none;
}

.slide-content:first-child {
  display: block;
}

.banner1-gestion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.banner1-item {
  border-right: 2px dashed #1e6f41;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.8rem;
}
.banner1-item img {
  width: 150px;
}

.banner1-item:last-child {
  border: none;
}

.banner1-item-content {
  text-align: center;
  line-height: 1.3;
}
.banner1-item-content h3 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  display: block;
  color: #2566af;
}
.banner1-item-content h3 small {
  font-size: 1.5rem;
  display: block;
}
.banner1-item-content p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.banner1-item-content p span {
  font-weight: 600;
}

.content-huella-carbono {
  background-image: url("../images/background-gestion-ambiental1.svg");
  background-repeat: repeat;
  background-size: 150px;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.content-arboles {
  background-image: url("../images/background-gestion-ambiental2.svg");
  background-size: 5%;
  background-size: 80px;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.number-box {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: 1.6rem;
  line-height: 1.3;
  text-align: center;
  background-color: #E9F3C1;
  border-radius: 3rem;
}
.number-box h3 {
  font-size: 8rem;
  display: block;
  font-weight: 600;
  color: #1e6f41;
  line-height: 1;
}
.number-box p {
  display: block;
  font-size: 1.8rem;
}

@media (max-width: 1200px) {
  .gestion-ambiental-banner-container {
    background-image: radial-gradient(200% 90% at bottom, #b7d831 100%, #b7d831 100%, transparent 100%);
  }
  .gestion-ambiental-buttons {
    flex-direction: column;
  }
  .gestion-ambiental-buttons .ambiental-button img {
    width: 200px;
  }
  .number-box {
    padding: 2rem;
  }
  .number-box h3 {
    font-size: 4rem;
  }
  .number-box p {
    font-size: 1.1rem;
  }
  .content-arboles {
    padding: 2rem;
  }
  .content-huella-carbono {
    padding: 2rem;
    background-size: 89px;
  }
}
.productos-line-container {
  background-color: #00acec;
}

.productos-line-foo {
  height: 100px;
  background-image: radial-gradient(60% 100% at top, #00acec 100%, #00acec 100%, transparent 100%);
}

.productos-line-box {
  display: flex;
  justify-content: center;
}

.line-box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
  width: 100%;
  position: relative;
}

.productos-line-item {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem 5rem;
  border-right: 3px solid #b7d831;
  position: relative;
}
.productos-line-item::after {
  content: "";
  display: flex;
  position: absolute;
  width: 60px;
  right: 0px;
  top: 60px;
  height: 3px;
  background-color: #b7d831;
}

.producto-item-title {
  font-size: 1.25rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: right;
}

.producto-item-text {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: right;
  color: white;
}

.producto-item-icon img {
  width: 60px;
}

.productos-line-item:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-right: none;
}
.productos-line-item:nth-child(even)::after {
  left: 0px;
  top: 60px;
  height: 3px;
  background-color: #b7d831;
}
.productos-line-item:nth-child(even) .producto-item-text, .productos-line-item:nth-child(even) .producto-item-title {
  text-align: left;
}

@media (max-width: 1200px) {
  .line-box-wrapper {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
  .productos-line-item {
    border-left: none;
    flex-direction: column;
    padding: 1rem;
    text-align: right;
    border: none;
  }
  .productos-line-item::after {
    left: 0px;
    top: 0px;
    height: 0px;
    background-color: #b7d831;
  }
  .producto-item-title {
    text-align: left;
  }
  .producto-item-text {
    text-align: left;
  }
  .productos-line-item:nth-child(even) {
    flex-direction: column;
    justify-content: flex-end;
    border-right: none;
  }
  .productos-line-item:nth-child(even)::after {
    left: 0px;
    top: 0px;
    height: 0px;
    background-color: #b7d831;
  }
  .productos-line-item:nth-child(even) .producto-item-text, .productos-line-item:nth-child(even) .producto-item-title {
    text-align: left;
  }
}