.finanzas1-box {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    margin-bottom: 6rem;
}

.finanzas1-text {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.finanzas1-grafico {
    padding: 2rem;
    img {
        box-shadow: 0px 0px 20px 0px rgba(181,181,181,1);
        border-radius: 1.5rem;
    }
}

.finanzas-section2 {
    background-color: #112d6a;
    margin-top: 10rem;
}
.finanzas-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
    top: -5rem;
}

.finanzas-section3 {
    background-color: #2d549d;
}
.finanzas3-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%,1fr));
}
.finanzas3-item {
    color: white;
    line-height: 1.5;
    border-left: 2px dashed #6e8eca;
    padding: 2rem;
    &:first-child{
        border: none;
    }
}
.finanzas3-image {
    text-align: center;
    padding: 2rem;
    .wrapper {
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 12/5;
        }
    }
}
.finanzas2-text {
    .wrapper{
        p {
            margin-bottom: 2rem;
        }
    }
}
.finanzas3-table {
    background-image:radial-gradient(100% 100% at top, #2d549d 100%, #2d549d 100%, transparent 100%);
    padding-bottom: 10rem;
    img {
        width: 100%;
    }
}
.finanzas3-table-box {
    padding: 3rem;
}


.finanzas-slider-item {
    background-image:radial-gradient(100% 60% at top, #2d549d 100%, #2d549d 100%, transparent 100%);
    display: none;
}
.finanzas-slider-item:first-child {
    display: block;
}

.finanzas2-text  {
    padding: 1rem;
    background-color: #112d6a;
    p {
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.4;
        padding: 0rem 2rem;
        color: white;
    }
}


@media(min-width: 1201px) {}
@media(max-width: 1200px) {
    .finanzas1-box {
        grid-template-columns: 1fr;
    }
    .finanzas1-text {
        font-size: 1.5rem;
        text-align: center;
    }
    .finanzas1-grafico {
        text-align: center;
        img {
            max-width: 600px;
            width: 100%;
        }
    }
    .finanzas-box {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    .finanzas3-cards {
        grid-template-columns: 1fr;
    }
    .finanzas3-image {
        padding: 1rem;
        img {
            width: 100%;
        }

    }
    .finanzas-slider-item {
        background-image:radial-gradient(200% 98% at top, #2d549d 100%, #2d549d 100%, transparent 100%);
        display: none;
    }
}
@media(max-width: 500px) {

}