.financiacion-sectores-box {
    padding: 3rem;
    img {
        width: 100%;
        margin-bottom: 5rem;
    }
}
.financiacion-desembolsos-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.desembolsos-image {
    padding: 2rem;
}
.desembolsos-aside {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        max-width: 350px;
        width: 100%;
    }
}
.desembolsos-graphs-box {
    padding: 2rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.financiacion-nuevas-lineas{
    background-color: #D9F3FC;
}
.nuevas-lineas-title {
    background-color: #00acec;
    padding: 1rem;
    h3 {
        font-size: 1.875rem;
        text-align: center;
        color: white;
        font-weight: 600;
    }
}
.nuevas-lineas-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.nuevas-lineas-text{
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
}
.nuevas-lineas-table{
    padding: 3rem;
}


@media(min-width: 1201px) {}
@media(max-width: 1200px) {
    .financiacion-sectores-box {
        padding: 1rem;
        img {
            margin-bottom: 0rem;
        }
    }
    .financiacion-desembolsos-box {
        grid-template-columns: 1fr;
    }
    .desembolsos-image {
        padding: 1rem;
        img {
            padding: 0rem;
        }
    }
    .desembolsos-graphs-box {
        grid-template-columns: 1fr;
        padding: 1rem;
        place-items: center;
        img {
            max-width: 700px;
            width: 100%;
        }
    }
    .nuevas-lineas-content {
        grid-template-columns: 1fr;
    }
    .nuevas-lineas-table {
        padding: 1rem;
    }
    .nuevas-lineas-text, .nuevas-lineas-table {
        padding: 0rem 3rem;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
    }
}
@media(max-width: 500px) {}