.download-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
    }
}
.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.icon-download {
    img {
        width: 90px;
    }
}
.text-download {
    position: relative;
    right: 30px;
    padding: 1rem 3rem;
    background-color: #00acec;
    border-radius: 1rem;
    p {
        font-size: 1.5rem;
        color: white;
    }
}

//Welcome banner
.welcome-banner {
    margin-top: 7rem;
}
.welcome-title {
    h1 {
        text-align: center;
        font-size: 3.75rem;
        font-weight: 700;
    }
}
.section-destacados {
    margin: 5rem 0rem;
    .title {
        margin-bottom: 5rem;
    }
    .cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.section-gestion {
    margin: 5rem 0rem;
    .title {
        margin-bottom: 5rem;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
    }
}
.section-desarrollo {
    position: relative;
    margin-top: 12rem;
    .title {
        position: relative;
        z-index: 20;
        h2 {
            color: white;
        }
    }
    .cards-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}
.cards-container-box {
    display: flex;
    justify-content: center;
    padding: 4rem;

}
.cards-container-overlay {
    position: absolute;
    top: -6rem;
    height: 30rem;
    width: 100%;
    background-image:radial-gradient(80% 100% at bottom,#4087C7 100%,#4087C7 100%, transparent 100%);
}
.cards-container-slick {
    max-width: 1000px;
    width: 100%;
    display: flex;
    gap: 1rem;
}


@media(min-width: 1201px) {}
@media(max-width: 1200px) {}
@media(max-width: 500px) {
    .download-container {
        margin-top: 2rem;
    }
    .download-button {
        display: flex;
        flex-direction: column-reverse;
        gap: .5rem;
        align-items: center;
        margin-left: 0px;
    }
    .icon-download {
        img {
            width: 50px;
        }
    }
    .text-download {
        right: 0px;
        p {
            font-size: 1rem;
        }
    }
    .welcome-banner {
        margin-top: 4rem;
    }
    .welcome-title {
        h1 {
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .section-gestion {
        .cards-container {
            grid-template-columns: 1fr;
        }
    }
    .cards-container-overlay {
        background-image:radial-gradient(160% 100% at bottom,#4087C7 100%,#4087C7 100%, transparent 100%);
    }
    .cards-container-box {
        padding: 2rem;
    }
}