.planificacion-text {
    padding: 2rem;
    margin-top: 1rem;
    p {
        margin-bottom: 2rem;
        font-size: 1.125rem;
        line-height: 1.5;
    }
}
.planificacion-banner {
    .video-banner-container{
        .video-banner {
            .video-text {
                background-color: #4087c7;
                p {
                    font-weight: 600;
                }
            }
        }
    }
}
@media(min-width:1201px) {}
@media(max-width:900px) {}
@media(max-width:900px) {}
@media(max-width:500px) {
    .planificacion-text {
        margin-top: 1rem;
    }
}