.planificacion-text {
    margin-top: 3rem;
    p {
        margin-bottom: 2rem;
        font-size: 1.125rem;
        line-height: 1.5;
    }
}
.planificacion-slider {
    margin-top: 5rem;
    background-color: rebeccapurple;
    padding: 10rem 3rem;
    display: flex;
    justify-content: center;
    p {
        color: wheat;
    }
}