.responsabilidad-container {
    margin-top: 5rem;
}
.responsabilidad-title {
    h1 {
        font-size: 3.75rem;
        font-weight: 700;
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 3rem;
    }
}
.responsabilidad-text {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: var(--color-secondary);
    margin-bottom: 3rem;
    p {
        margin-bottom: 2rem;
    }
}