.talento-image {
    img {
        width: 100%;
        object-fit: cover;
    }
}
.talento-box {
    position: relative;
    top: -100px;
    background-color: #D9F3FC;
    padding: 4rem;
    max-width: 960px;
}
.talento-title {
    h1 {
        text-align: center;
        color: #112d6a;
        font-size: 3.75rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }
}
.talento-text {
    line-height: 1.5;
    font-size: 18px;
    p {
        margin-bottom: 2rem;
        font-weight: 300;
    }
}
@media(min-width: 1201px) {}
@media(max-width: 1200px) {
    .talento-box {
        background-color: #D9F3FC;
        padding: 3rem;
        max-width: 90vw;
        top: -30px;
    }
    .talento-title {
        h1 {
            font-size: 2.5rem;
        }
    }
}
@media(max-width: 500px) {
    .talento-box {
        background-color: #D9F3FC;
        padding: 2rem;
        max-width: 85vw;
        top: -30px;
    }
    .talento-title {
        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
}