extends ../layouts/base.pug
block content
    include ../components/header.pug
    main.main-container
        .global-container
            .global-box.wrapper-intern
                .global-title
                    h1 Asistencia técnica
                .global-text
                    p Con nuestro producto de asistencia técnica queremos continuar siendo el aliado  estratégico del Gobierno nacional y las entidades territoriales para la ejecución de  programas y proyectos que transforman regiones y mejoran la calidad de vida de las comunidades donde hacemos presencia.
        .asistencia-banner-box
            .asistencia-box.wrapper
                .asistencia-text
                    p Detrás de los grandes proyectos que se desarrollan a lo largo y ancho del país, con el acompañamiento técnico de Findeter, siempre habrá una historia por contar, una vida que se transformó gracias al trazado de una vía, la sonrisa de unos niños que ahora cuentan con un espacio donde jugar, la posibilidad de que una ambulancia pueda trasladar a un enfermo hasta un sitio que antes era imposible transitar, la culminación de un emprendimiento que por fin vio la luz o la tranquilidad de unos adultos mayores que, después de muchos años, pudieron acceder a una vivienda digna.
                    p
                        span En lo corrido del año 2023 avanzamos en la ejecución de 534 proyectos por un valor de COP3,3 billones en diferentes sectores; adicionalmente, se iniciarán 310 proyectos por un valor de COP3,4 billones de pesos.
                .asistencia-image
                    img(src='./images/asistencia-image1.jpg', alt='')
        include ../components/slider-asistencia.pug
block scripts
    script mostrarCifras('.slider-asistencia-item', '.asistencia-textimage-box', "slider-asistencia-item-active");
