extends ../layouts/base.pug
block content
    include ../components/header.pug
    include ../components/video-banner.pug
    +video-banner('Principales logros de la gestión de Findeter, Juan Carlos Muñiz Pacheco, presidente de la entidad.', 'Iop82MAdQcY', "Hola mundo", "#", false)
    include ../components/file-banner.pug