extends ../layouts/base.pug
block content
    include ../components/header.pug
    main.main-container
        include ../components/video-banner.pug
        +video-banner('Principales logros de la gestión de Findeter, Juan Carlos Muñiz Pacheco, presidente de la entidad.', 'zN5ENIpBsSE', "Hola mundo", "#", false)(class="fw-600")
        include ../components/file-banner.pug
        +file-banner("./images/cartaaccionistas.png", "Descarga aquí la carta a los accionistas", "./pdf/carta-accionistas.pdf")
block scripts
    script activeLink(1)