extends ../layouts/base.pug
include ../components/card-uno.pug
block content
    include ../components/header.pug
    .section-calificaciones-container
        .section-calificaciones-box.wrapper
            .section-calificaciones-title
                h1(class="section-title") Calificaciones
            .section-calificaciones-cards
                +card-uno("Modelo Integrado de Planeación y Gestión (MIPG)")
                +card-uno("Índice de transparencia y acceso a la información (ITA)")
            .section-calificaciones-texto
                .texto-box
                    h2 Modelo Integrado de Planeación y Gestión (MIPG)
                    p Findeter ha trabajado en la implementación y fortalecimiento del MIPG, que es un marco de referencia para dirigir, planear, ejecutar, hacer seguimiento, evaluar y controlar la gestión institucional de las entidades públicas en términos de calidad e integridad del servicio, con el fin de que se entreguen resultados que atiendan y resuelvan las necesidades y problemas de los grupos de valor.
                    p El grado de implementación del MIPG es medido anualmente a través del Formulario Único de Reporte de Avances de la Gestión (FURAG), por parte del Departamento Administrativo de la Función Pública (DAFP), cuyo resultado es el índice de desempeño institucional (IDI), que mide la capacidad de las entidades y organismos públicos para orientar sus procesos de gestión institucional hacia una mejor producción de bienes y prestación de servicios, con criterios de calidad, atendiendo las necesidades de la ciudadanía, y en el marco de la legalidad, la eficiencia y la transparencia.
                    p En Findeter, para la vigencia 2022, medida en el 2023, obtuvimos una calificación de 85,7 puntos, según la última medición realizada por el Departamento Administrativo de la Función Pública a través del FURAG.
    include ../components/calificaciones-banner.pug