extends ../layouts/base.pug
include ../components/card-uno.pug
include ../components/card-dos.pug
include ../components/cifra-icon.pug
include ../components/cifras.pug
block title
    title Cifras Relevantes | Informe de Gestión y sostenibilidad 2023
block content
    include ../components/header.pug
    main.main-container
        .global-container
            .global-box.wrapper-intern
                .global-title
                    h1 Cifras relevantes
                .global-text
                    p Hemos tenido un impacto significativo en el bienestar y el desarrollo sostenible del país, lo cual se refleja en nuestros logros destacados, resultado del compromiso con el fortalecimiento territorial y la inclusión financiera, por medio de soluciones sostenibles e innovadoras.
        .page-cards-section.wrapper
            +card-uno('Financiación', "./images/cifras-slide-icon1.svg")
            +card-uno('Asistencia técnica', "./images/cifras-slide-icon2.svg")
            +card-uno('Planificación', "./images/cifras-slide-icon3.svg")
        .page-cifras-section
            .cifras-item
                .cifras-container.wrapper-intern
                    +cifras('$3,89 billones', 'Desembolsos totales')
                    +cifras('$2,42 billones ', 'Por redescuento')
                    +cifras('$1,47 billones', 'Por crédito directo')
                    +cifras('670', 'Proyectos')
                    +cifras('411', 'Municipios impactados')
                    +cifras('90%', 'Categorías  3, 4, 5 y 6')
            .cifras-item
                .cifras-container.wrapper-intern
                    +cifras('884', 'Proyectos gestionados')
                    +cifras('$6,77', 'Billones')
                    +cifras('534', 'proyectos en ejecución y terminados')
                    +cifras('310', 'proyectos por iniciar')
            .cifras-item
                .cifras-container.wrapper-intern
                    +cifras('2', 'Proyectos <br> ejecutados')
                    +cifras('PBOT', 'San sebastián de mariquita')
                    +cifras('PDA', 'Cartago')
        .page-cards-icons
            .cards-dos-container.wrapper
                +card-dos("Ebitda", "./images/cifras-icon1.svg")
                +card-dos("Utilidad neta", "./images/cifras-icon2.svg")
                +card-dos("Rentabilidad financiera", "./images/cifras-icon3.svg")
                +card-dos("Ingresos no financieros", "./images/cifras-icon4.svg")
                +card-dos("Sello buenas practicas de innovación", "./images/cifras-icon5.svg")
                +card-dos("En convocatorias de asistencia técnica", "./images/cifras-icon6.svg")
                +card-dos("Política contratación economía solidaria", "./images/cifras-icon7.svg")
                +card-dos("Economía popular <br> <span>(Artesanías de Colombia y wayuú)</span>", "./images/cifras-icon8.svg")
                +card-dos("Índice de Cultura de Felicidad", "./images/cifras-icon9.svg")
                +card-dos("Empresa familiarmente responsable", "./images/cifras-icon10.svg")
        .page-cards-content
            .content-space.wrapper
                +cifra-icon("./images/cifras-icon1.svg", "<span>$ 267.616</span><br> millones")
                +cifra-icon("./images/cifras-icon2.svg", "<span>$ 165.937</span><br> millones")
                +cifra-icon("./images/cifras-icon3.svg", "<span>$ 10,63%</span>")
                +cifra-icon("./images/cifras-icon4.svg", "<span>$ 64.051</span><br> millones")
                +cifra-icon("./images/cifras-icon5.svg", "<span>ISO 9001:2015</span><br><span>ISO 14001:2015</span>")
                +cifra-icon("./images/cifras-icon6.svg", "<span>$1</span><br>billón")
                +cifra-icon("./images/cifras-icon7.svg", "<span>Nueva</span><br>Política contratación <br>economía solidaria")
                +cifra-icon("./images/cifras-icon8.svg", "<span>7 proyectos</span><br>Economía popular<br> (Artesanías de Colombia y wayuú)")
                +cifra-icon("./images/cifras-icon9.svg", "<span>83,3%</span><br>Índice de <br>Cultura de Felicidad")
                +cifra-icon("./images/cifras-icon10.svg","<span>EFR</span><br>Empresa familiarmente <br>responsable")
block scripts
    script mostrarCifras('.card-uno', '.cifras-item', 'card-uno-active');
        | mostrarCifras('.card-dos', '.cifra-space-box', 'card-dos-active');
        | activeLink(2,0)