extends ../layouts/base.pug
block content
    include ../components/header.pug
    .global-container
        .global-box.wrapper-intern
            .global-title
                h1 Contribución de Findeter a los ODS
            .global-text
                p De acuerdo con la Organización de Naciones Unidas (ONU), “los Objetivos de Desarrollo Sostenible (ODS) constituyen un llamamiento universal a la acción para poner fin a la pobreza, proteger el planeta y mejorar las vidas y las perspectivas de las personas en todo el mundo”.
    .contribucion-container
        .contribucion-text
            p En 2015 los miembros de esta organización aprobaron 17 objetivos que hacen parte de la Agenda 2030 para el Desarrollo Sostenible, en la que se estableció un plan para alcanzar dichos objetivos en un horizonte de 15 años.
            p Nuestra entidad, como Banca de Desarrollo Territorial, está alineada con la Agenda 2030. De ahí que el concepto de sostenibilidad se encuentra incorporado en nuestra misión y visión, y es prioritario tanto en las acciones internas como externas que se ejecutan.
            p De acuerdo con el estudio Mapeo de alineación estratégica de Findeter con los ODS, adelantado por el Centro de Objetivos de Desarrollo Sostenible para América Latina y el Caribe (CODS), de la Universidad de los Andes, nuestro trabajo impacta los ODS de la siguiente manera:
        .contribucion-image
             img(src='https://placehold.co/721x405', alt='')
    .contribucion-objetivos
        include ../components/objetivos-banner.pug