extends ../layouts/base.pug
include ../components/directivos-avatar.pug
block content
    include ../components/header.pug
    .directivos-container
        .directivos-box.wrapper
            .directivos-title
                h1(class="section-title") Directivos
            .directivos-subtitle
                h2 Junta directiva
            .directivos-text
                p La Junta Directiva está integrada por cinco miembros principales y cinco suplentes, quienes deben ser elegidos por la Asamblea de Accionistas por un periodo de dos años. Mínimo tres de ellos deben tener la calidad de independientes; de acuerdo con lo señalado en el parágrafo segundo del artículo 34 de los Estatutos Sociales, los nombramientos de Junta Directiva pueden ser a título personal o a un cargo determinado.
                p Al 31 de diciembre de 2023, la conformación de la Junta Directiva presidida por la secretaria general del Ministerio de Hacienda y Crédito Público era la siguiente:
        .directivos-banner.wrapper
            .directivos-banner-title
                h2 Principal
            .directivos-banner-content
                +directivos-avatar("Nasly Jennifer Ruiz González", "Secretaria General Ministerio de Hacienda y Crédito Público")
                +directivos-avatar("Carmen Astrid Romero Baquero", "Miembro independiente")
                +directivos-avatar("Elsa Margarita Noguera de la Espriella", "Gobernadora del Atlántico")
                +directivos-avatar("Jorge Armando Rodríguez Alarcón", "Miembro independiente")
                +directivos-avatar("Mauricio Olivera González", "Miembro independiente")
        .directivos-banner.wrapper
            .directivos-banner-title
                h2 Principal
            .directivos-banner-content
                +directivos-avatar("Nasly Jennifer Ruiz González", "Secretaria General Ministerio de Hacienda y Crédito Público")
                +directivos-avatar("Carmen Astrid Romero Baquero", "Miembro independiente")
                +directivos-avatar("Elsa Margarita Noguera de la Espriella", "Gobernadora del Atlántico")
                +directivos-avatar("Jorge Armando Rodríguez Alarcón", "Miembro independiente")
                +directivos-avatar("Mauricio Olivera González", "Miembro independiente")
        .directivos-list-container
            .directivos-list-box.wrapper
                .directivos-list-title
                    h2 Directivos
                .directivos-list-content
                    ul
                        li Juan Carlos Muñiz Pacheco, presidente
                        li Richard Orlando Martínez Hurtado, vicepresidente Financiero
                        li Liliana María Zapata Bustamante, secretaria general
                        li Leonardo Fabio Ramos Lozada, vicepresidente de Riesgos
                    ul
                        li Martha Patricia Martínez Barragán, vicepresidente Técnico
                        li María Amparo Arango Valencia, vicepresidente Comercial
                        li Ingrid Catalina Giraldo Cardona, vicepresidente de Operaciones
                        li Laura Mercedes Peña Rodríguez, vicepresidente de Planeación
        .directivos-fotos-container
            .directivos-fotos-box.wrapper
                img(src="https://placehold.co/440x559", alt="", srcset="")
                img(src="https://placehold.co/838x559", alt="", srcset="")