extends ../layouts/base.pug
include ../components/card-uno.pug
mixin section2-item(foto, text)
    .economia2-item
        .economia2-item-image
            img(src=foto, alt='')
        .economia2-item-text
            p !{text}
block content
    include ../components/header.pug
    main.main-container
        .global-container
            .global-box.wrapper-intern
                .global-title
                    h1 Economía popular
                .global-text
                    p En Findeter hemos implementado el cambio de enfoque del Gobierno nacional. Este cambio se alinea de manera integral con las metas y objetivos establecidos en el Plan Nacional de Desarrollo 2022-2026 - PND, Colombia Potencia Mundial de la Vida, y se materializa a través de nuestro Plan Estratégico Transformando Regiones.
        .economia-section1
            .economia1-container.wrapper
                .economia1-box
                    .economia1-text
                        p Esta iniciativa tiene como finalidad fortalecer los modelos de desarrollo de las expresiones organizativas comunitarias, aprovechando economías de escala y su potencial productivo, con el fin de reducir y cerrar las brechas regionales a lo largo del territorio nacional.
                        p La integración de ejecutores de economía popular en los proyectos facilitados por la banca de desarrollo trae múltiples ventajas:
                    .economia1-img
                        img(src='./images/economia-image1.jpg', alt='')
        .economia-section2
            .economia2-container.wrapper
                .economia2-box
                    +section2-item("./images/economia-icon1.svg", "Garantiza que los proyectos estén más alineados con las necesidades y expectativas de las comunidades locales, asegurando que los beneficios del desarrollo sean compartidos de manera equitativa.")
                    +section2-item("./images/economia-icon2.svg", "Impulsa la creación de empleo local y el fortalecimiento de economías regionales, contribuyendo a la reducción de desigualdades.")
                    +section2-item("./images/economia-icon3.svg", "Mejora la sostenibilidad de los proyectos, aprovechando el conocimiento profundo que poseen las comunidades locales sobre el entorno y las prácticas sostenibles.")
        .economia-section3
            .economia3-container.wrapper
                .economia3-box
                    .economia3-text
                        p Desde Findeter hemos apostado por el desarrollo de proyectos directamente con las comunidades en sectores productivos, en el marco de contratos y convenios interadministrativos con aliados como Artesanías de Colombia, Ministerio del Interior, Ministerio Agricultura e Invías, entre otros.
                        p Cada proyecto destaca por su enfoque colaborativo entre las entidades de orden nacional, donde los más de 900 ejecutores de economía popular participarán en la implementación y contribución para la toma de decisiones, asegurando que los proyectos se alineen con las necesidades y objetivos de las comunidades a las que sirven.
                    .economia3-img
                        img(src='./images/economia-image2.png', alt='')
        .economia-section4
            .economia4-title.wrapper
                h2 Casos destacados
            .economia4-container.wrapper
                .economia4-box
                    +card-uno("Mantenimiento y adecuación de inmuebles - Artesanías de Colombia","./images/economia-icon-slider1.svg")
                    +card-uno("Fortalecimiento, promoción y protección de pueblos indígenas - Ministerio del Interior","./images/economia-icon-slider2.svg")
                    +card-uno("Convocatoria Banco de Proyectos – Ministerio del Interior ","./images/economia-icon-slider3.svg")
                    +card-uno("Ejecución de proyectos productivos, programas e implementación de estrategias de política pública - Ministerio de Agricultura ","./images/economia-icon-slider4.svg")
                    +card-uno("Desarrollo de proyectos estratégicos viales regionales y atención de la Sentencia T-302-2017, comunidades wayuú ","./images/economia-icon-slider5.svg")
        .economia-section5
            .economia5-container.wrapper
                .economia5-title.wrapper
                    h2 Mantenimiento y adecuación de inmuebles - Artesanías de Colombia
                .economia5-box
                    .economia5-text
                        p Proyectos de mantenimiento y adecuaciones de los inmuebles propiedad de Artesanías de Colombia S.A. – BIC a nivel nacional, en relación con las sedes que se prioricen por parte de la entidad (Bogotá, San Jacinto y Ráquira).
                        span Valor: COP2.000 millones.
                        p Ejecutores de economía popular: actualmente siete juntas de acción comunal.
                        p Impacto: revitalizar y preservar los espacios físicos clave para la promoción y desarrollo del arte y la cultura artesanal con mayores capacidades operativas, lo que contribuirá a la valorización y el reconocimiento del patrimonio cultural inmaterial del país.
                    .economia5-img
                        img(src='https://placehold.co/50x50/yellow/black', alt='')
            .economia5-container.wrapper
                .economia5-title.wrapper
                    h2 Fortalecimiento, promoción y protección de pueblos indígenas -
                        br
                    | Ministerio del Interior
                .economia5-box
                    .economia5-text
                        p Actividades o proyectos orientados a dar cumplimiento a los derechos territoriales, atención integral a las poblaciones y comunidades, procesos de fortalecimiento, promoción y protección de los pueblos indígenas, así como a los compromisos establecidos en el Plan Nacional de Desarrollo.
                        span Valor: COP89.984 millones.
                        p Ejecutores de economía popular: 70 asociaciones de comunidades indígenas.
                        p Impacto: protección de las comunidades étnicas víctimas de desplazamiento mediante el fortalecimiento productivo y el gobierno propio, preservación de la integridad cultural, armonía y equilibrio para la defensa de la vida, pacto por y para las regiones e infraestructura.
            .economia5-container.wrapper
                .economia5-title.wrapper
                    h2 Convocatoria Banco de Proyectos – Ministerio del Interior
                .economia5-box
                    .economia5-text
                        p Actividades o proyectos orientados a promover la participación política, social y ciudadana, el fortalecimiento del campesinado como sujeto de derecho, y la implementación/ejecución de los aspectos administrativos presupuestales y documentales en la puesta en marcha y seguimiento a las iniciativas seleccionadas en el marco del Banco de Proyectos 2023 de la Dirección de Democracia, Participación Ciudadana y Acción Comunal del Ministerio del Interior.
                        span Valor: COP63.862 millones.
                        p Ejecutores de economía popular: se esperan hasta 822 iniciativas para financiar proyectos de las organizaciones comunitarias.
                        p Impacto: transformar diversas esferas de la vida comunitaria, social y productiva, construyendo y dotando espacios comunales para el fomento de nuevos liderazgos, el fortalecimiento y la planeación comunal, y la promoción de la soberanía alimentaria. Esta iniciativa proporciona a las comunidades herramientas para enfrentar los desafíos globales como el cambio climático y tiene impacto en las mujeres y el campesinado, promoviendo la convivencia y construcción de la paz, fortaleciendo el tejido social y económico.
            .economia5-container.wrapper
                .economia5-title.wrapper
                    h2 Ejecución de proyectos productivos, programas e implementación de estrategias de política pública - Ministerio de Agricultura
                .economia5-box
                    .economia5-text
                        p Crear políticas de generación de ingresos, construir capacidades empresariales rurales –Campo Emprende¬– y fortalecer el modelo de apoyo a alianzas productivas del sector agropecuario.
                        span Valor: COP79.000 millones.
                        p Objetivo de ejecutores de economía popular: 13 asociaciones campesinas.
                        p Impacto: potenciar el capital social, humano, físico, financiero y natural de las familias rurales en extrema pobreza en las áreas objetivo del proyecto, fomentando un desarrollo integral y sostenible en estas comunidades.
            .economia5-container.wrapper
                .economia5-title.wrapper
                    h2 Desarrollo de proyectos estratégicos viales regionales y atención de la Sentencia T-302-2017, comunidades wayuú
                .economia5-box
                    .economia5-text
                        p Cumplimiento de la Sentencia T-302 de 2017 en los municipios de Uribia, Riohacha, Maicao y Manaure, en el departamento de la Guajira.
                        p Atención del corredor Palermo - San Luis, en el departamento del Huila.
                        p Las vías priorizadas por las comunidades CRIC en el departamento del Cauca.
                        p Vías regionales de carácter secundario y/o terciario que prioricen las asociaciones o comunidades indígenas o etnias.
                        span Valor: COP53.000 millones.
                        p Ejecutores de economía popular:  a través de un operador logístico se genera la participación de las organizaciones comunitarias.
                        p Impacto: mejorar la infraestructura vial facilitando el acceso a servicios básicos, la optimización de las oportunidades comerciales, y la conectividad entre comunidades.
block scripts
    script mostrarCifras('.card-uno', '.economia5-container', 'card-uno-active-green');
        | activeLink(5,15)