extends ../layouts/base.pug
include ../components/slider-desarrollo-item.pug
block content
    include ../components/header.pug
    main.main-container
        .global-container
            .global-box.wrapper-intern
                .global-title
                    h1 Ejes de sostenibilidad
                .global-text
                    p En 2023 actualizamos nuestros ejes de sostenibilidad conocidos como materialidades; aquellos temas que tienen impactos en nuestra operación y nuestros grupos de interés. A partir de esto, definimos cinco ejes en los cuales se enmarcan nuestras acciones.
        .slider-desarrollo
            .slider-desarrollo-container.wrapper-intern
                .slider-desarrollo-box.wrapper-intern
                    +desarrollo-item("./images/eje-sostenibilidad-slider1.jpg", "<span>Transferencia de capacidades hacia entidades territoriales:</span>  aprovechamos nuestro conocimiento y experiencia buscando diseñar programas que garanticen su gestión y transferencia hacia los grupos de interés que impactamos. Todo esto mediante una estrategia de educación en habilidades técnicas.")
                    +desarrollo-item("./images/eje-sostenibilidad-slider2.jpg", "<span>Medición de impactos ambientales, sociales y económicos:</span> desplegamos nuestro modelo de medición de rentabilidad social actual, en el que cuantificamos el impacto social, ambiental y económico de nuestra operación.")
                    +desarrollo-item("./images/eje-sostenibilidad-slider3.jpg", "<span>Finanzas responsables:</span>  construimos alternativas de inversión que garanticen un flujo de capital por medio de una economía sostenible, alineados con los principios ambientales, sociales y de gobernanza - ASG.")
                    +desarrollo-item("./images/eje-sostenibilidad-slider4.jpg", "<span>Infraestructura social:</span>  acompañamos el desarrollo de proyectos que mejoran la calidad de vida de los territorios del país con nuestra gestión diaria.")
                    +desarrollo-item("./images/eje-sostenibilidad-slider5.jpg", "<span>Estrategia de relacionamiento:</span>creamos espacios con nuestros grupos de interés para conocer sus necesidades y construir de manera conjunta nuevos programas, productos o estrategias que fortalezcan los territorios colombianos.")
block scripts
    script activeLink(4,8)