extends ../layouts/base.pug
include ../components/slider-desarrollo-item.pug
block content
    include ../components/header.pug
    .global-container
        .global-box.wrapper-intern
            .global-title
                h1 Ejes de sostenibilidad
            .global-text
                p En 2023 actualizamos nuestros ejes de sostenibilidad conocidos como materialidades; aquellos temas que tienen impactos en nuestra operación y nuestros grupos de interés. A partir de esto, definimos cinco ejes en los cuales se enmarcan nuestras acciones.
    .slider-desarrollo
        .slider-desarrollo-container.wrapper-intern
            .slider-desarrollo-box.wrapper-intern
                +desarrollo-item()
                +desarrollo-item()
                +desarrollo-item()
                +desarrollo-item()
                +desarrollo-item()
                +desarrollo-item()