extends ../layouts/base.pug
block content
    include ../components/header.pug
    .sostenibilidad-container
        .sostenibilidad-box.wrapper-intern
            .sostenibilidad-title
                h1 Ejes de sostenibilidad
            .sostenibilidad-text
                p En 2023 actualizamos nuestros ejes de sostenibilidad conocidos como materialidades; aquellos temas que tienen impactos en nuestra operación y nuestros grupos de interés. A partir de esto, definimos cinco ejes en los cuales se enmarcan nuestras acciones.
    .slider-container
