extends ../layouts/base.pug
block content
    include ../components/header.pug
    .estrategia-corporativa-container
        .estrategia-box.wrapper
            .estrategia-title
                h1(class="section-title") Estrategia corporativa
            .estrategia-text
                p Contamos con el plan estratégico Transformando Regiones 2023-2026, aprobado el 23 de agosto de 2023 por la Junta Directiva, el cual se enfoca en colaborar estrechamente con el Gobierno nacional y las entidades territoriales para financiar y ejecutar proyectos sostenibles que generen una transformación significativa en los territorios, aprovechando nuestra experiencia.
                p El plan establece un propósito superior, una misión, visión, cuatro perspectivas, 9 objetivos estratégicos y 24 indicadores, de los cuales 11 son nuevos, y representan los cambios necesarios y desafíos propuestos en nuestro Plan Nacional de Desarrollo 2022-2026.
    include ../components/proposito-superior.pug