extends ../layouts/base.pug
block title
    title Estrategia corporativa | Informe de Gestión y sostenibilidad 2023
block content
    include ../components/header.pug
    main.main-container
        .global-container
            .global-box.wrapper-intern
                .global-title
                    h1 Estrategia corporativa
                .global-text
                    p Contamos con el plan estratégico Transformando Regiones 2023-2026, aprobado el 23 de agosto de 2023 por la Junta Directiva, el cual se enfoca en colaborar estrechamente con el Gobierno nacional y las entidades territoriales para financiar y ejecutar proyectos sostenibles que generen una transformación significativa en los territorios, aprovechando nuestra experiencia.
                    p El plan establece 1 propósito superior, 1 misión, 1 visión, 4 perspectivas, 9 objetivos estratégicos y 24 indicadores, de los cuales 11 son nuevos y representan los cambios necesarios y desafíos propuestos en el Plan Nacional de Desarrollo 2022-2026.
        include ../components/proposito-superior.pug
block scripts
    script activeLink(3,2)