extends ../layouts/base.pug
block content
    include ../components/header.pug
    main.main-container
        .global-container
            .global-box.wrapper-intern
                .global-title
                    h1 Financiación
                .global-text
                    p En 2023 desembolsamos COP3,89 billones, de los cuales COP2,42 billones corresponden a redescuento y COP1,47 billones a crédito directo.
        include ../components/financiacion-banner.pug
        .financiacion-sectores-container
            .financiacion-sectores-box.wrapper
                img(src='./images/financiacion-image1.svg' alt='')
            .financiacion-desembolsos-container
                .financiacion-desembolsos-box.wrapper
                    .desembolsos-image
                        img(src='./images/financiacion-image2.svg' alt='')
                    .desembolsos-aside
                        img(src='./images/financiacion-card1.svg' alt='')
                        img(src='./images/financiacion-card2.svg' alt='')
            .financiacion-desembolsos-graphs
                .desembolsos-graphs-box.wrapper
                    img(src='./images/financiacion-image3.svg' alt='')
                    img(src='./images/financiacion-image4.svg' alt='')
        .financiacion-nuevas-lineas.wrapper
            .nuevas-lineas-title
                h3 Nuevas líneas implementadas
            .nuevas-lineas-content
                .nuevas-lineas-text
                    p Implementamos tres programas de financiación que han estado enfocados en la reactivación económica del país y en contribuir con el cumplimiento de los planes de desarrollo departamentales, distritales y municipales.
                .nuevas-lineas-table
                    img(src='./images/financiacion-table1.svg' alt='')
        .global-container
            .global-box.wrapper-intern
                .global-title
                    h1 Proyectos financiados
                .global-text
                    p En 2023 financiamos 670 proyectos con los que impactamos a 411 municipios. Presentamos aquí algunas de las iniciativas beneficiadas, a través de las cuales continuamos trabajando para transformar positivamente todas las regiones del país. Entre los proyectos que apalancamos se encuentran:
        .financiacion-proyectos-mapa
            .financiacion-proyectos-container
                .financiacion-proyectos-box.wrapper
                    .proyectos-mapa
                        img(src="./images/financiacion-mapa.svg", alt="")
                    .proyectos-slider
                        .proyectos-slider-container
                            .proyectos-slider-box
                                .proyectos-slider-item
                                    .proyectos-slider-item-title
                                        h3 Antioquia
                                    .proyectos-slider-item-content
                                        .proyectos-slider-item-text
                                            p Financiación del Plan de Desarrollo 2020 - 2023
                                                br
                                            | por COP 149.185 millones.
                                        .proyectos-slider-item-image
                                            img(src='./images/mapa-slider-photo1.jpg', alt='')
                                .proyectos-slider-item
                                    .proyectos-slider-item-title
                                        h3 Itagüí (Antioquia)
                                    .proyectos-slider-item-content
                                        .proyectos-slider-item-text
                                            p financiación del Plan de Desarrollo 2020 - 2023
                                                br
                                            | por COP73.963 millones.
                                        .proyectos-slider-item-image
                                            img(src='./images/mapa-slider-photo2.jpeg', alt='')
                                .proyectos-slider-item
                                    .proyectos-slider-item-title
                                        h3 Bolívar
                                    .proyectos-slider-item-content
                                        .proyectos-slider-item-text
                                            p Financiación del Plan de Desarrollo 2020 - 2023
                                        .proyectos-slider-item-image
                                            lite-youtube(videoid="uuHWrOOUAKI")