extends ../layouts/base.pug
block content
    include ../components/header.pug
    .global-container
        .global-box.wrapper-intern
            .global-title
                h1 Financiación
            .global-text
                p En 2023 desembolsamos COP3,89 billones, de los cuales COP2,42 billones corresponden a redescuento y COP1,47 billones a crédito directo.
    include ../components/financiacion-banner.pug
    .financiacion-image-sectores.wrapper
        .financiacion-image-overflow
            img(src='https://placehold.co/1250x1100', alt='')
    .financiacion-image-sectores.wrapper
        .financiacion-image-overflow
            img(src='https://placehold.co/1250x1100', alt='')
    .financiacion-image-sectores.wrapper
        .financiacion-image-overflow
            img(src='https://placehold.co/600x583', alt='')
            img(src='https://placehold.co/600x583', alt='')
    .financiacion-nuevas-lineas.wrapper
        .nuevas-lineas-text
            p Implementamos tres programas de financiación que han estado enfocados en la reactivación económica del país y en contribuir con el cumplimiento de los planes de desarrollo departamentales, distritales y municipales.
        .nuevas-lineas-table
            img(src='https://placehold.co/720x280', alt='')
    .global-container
        .global-box.wrapper-intern
            .global-title
                h1 Proyectos financiados
            .global-text
                p En 2023 financiamos 670 proyectos con los que impactamos a 411 municipios. Presentamos aquí algunas de las iniciativas beneficiadas, a través de las cuales continuamos trabajando para transformar positivamente todas las regiones del país. Entre los proyectos que apalancamos se encuentran: