extends ../layouts/base.pug
block content
    include ../components/header.pug
    .global-container
        .global-box.wrapper-intern
            .global-title
                h1 Financiación
            .global-text
                p En 2023 desembolsamos COP3,89 billones, de los cuales COP2,42 billones corresponden a redescuento y COP1,47 billones a crédito directo.
    include ../components/financiacion-banner.pug