extends ../layouts/base.pug
include ../components/card-uno.pug
block title
    title Finanzas responsables | Informe de Gestión y sostenibilidad 2023
block content
    include ../components/header.pug
    main.main-container
        .global-container
            .global-box.wrapper-inter
                .global-title
                    h1 Finanzas responsables
                .global-text
                    p Durante 2023 las tres cuentas principales del Estado de Situación Financiera presentaron crecimiento frente a 2022.
        .finanzas-section1
            .finanzas1-container
                .finanzas1-box.wrapper
                    .finanzas1-text
                        p El activo total se ubicó en COP14,78 billones, incrementándose en un 12,40 % frente al ejercicio anterior; el pasivo, por su parte, mostró una variación anual positiva del 12,34 % y cerró el año en COP13,22 billones, en tanto que el patrimonio se incrementó en 12,87 % situándose en COP1,56 billones.
                    .finanzas1-grafico
                        img(src='./images/finanzas-grafico1.svg', alt='')
        include ../components/finanzas-slider.pug
block scripts
    script mostrarCifras('.card-uno', '.finanzas-slider-item', "card-uno-active");
        | activeLink(5,16)