extends ../layouts/base.pug
include ../components/card-tres.pug
block content
    include ../components/header-home.pug
    .download-container
        a(href="")
            .download-button
                .icon-download
                    img(src="./images/download-icon.svg", alt="", srcset="")
                .text-download
                    p Descargar informe completo
    .welcome-banner
        .welcome-title.wrapper
            h1(class="section-title") Bienvenidos al informe
        include ../components/video-banner.pug
    .section-destacados
        .title
            h2.section-title Hechos destacados
        .cards-container.wrapper
            +card-tres
            +card-tres