extends ../layouts/base.pug
include ../components/card-tres.pug
include ../components/card-cuatro.pug
include ../components/video-banner.pug
block content
    include ../components/header-home.pug
    .download-container
        a(href="")
            .download-button
                .icon-download
                    img(src="./images/download-icon.svg", alt="", srcset="")
                .text-download
                    p Descargar informe completo
    .welcome-banner
        .welcome-title.wrapper
            h1 Bienvenidos al informe
        +video-banner('2023 ha sido un año de resultados históricos para Findeter. Nuestro presidente, Juan Carlos Muñiz Pacheco, habla de los principales logros de esta gestión.', 'Iop82MAdQcY', 'Ver más', '#')
    .section-destacados
        .title
            h2.section-title Hechos destacados
        .cards-container.wrapper
            +card-tres
            +card-tres
    .section-gestion
        .title
            h2.section-title Nuestra gestión
        .cards-container
            +card-cuatro
            +card-cuatro
            +card-cuatro
            +card-cuatro
            +card-cuatro
            +card-cuatro
    .section-desarrollo
        .title
            h2.section-title Desarrollo sostenible
        .cards-container
            +card-tres
            +card-tres
            +card-tres
    .section-impacto
        include ../components/section-impacto.pug

    include ../components/video-banner.pug