extends ../layouts/base.pug
include ../components/file-banner.pug
include ../components/video-banner.pug
block content
    include ../components/header.pug
    main.main-container
        +video-banner("Ver video perspectivas 2024", "Y-PC4-IVNNk", false)(class="fw-600")
        +file-banner("./images/image-perspectivas.png", "Descarga aquí el PDF de las perspectivas 2024", "./pdf/perspectivas2024.pdf")
block scripts
    script activeLink(6)