extends ../layouts/base.pug
include ../components/file-banner.pug
include ../components/video-banner.pug
block title
    title Perspectivas 2024 | Informe de Gestión y sostenibilidad 2023
block content
    include ../components/header.pug
    main.main-container
        +video-banner("Conozca las perspectivas económicas para 2024 en el siguiente video.", "Y-PC4-IVNNk", false)(class="fw-600")
        +file-banner("./images/image-perspectivas.png", "Descarga aquí el PDF de las perspectivas 2024", "./pdf/perspectivas2024.pdf")
block scripts
    script activeLink(6)