extends ../layouts/base.pug
include ../components/card-seis.pug
block content
    include ../components/header.pug
    .section-reconocimientos
        h1(class="section-title color1") Reconocimientos
    .reconocimiento-cards
        .reconocimiento-box.wrapper
            +card-seis("Fuimos ratificados por el Ministerio de Ciencia, Tecnología e Innovación como <span>actor clave del ecosistema de I+D+i del país.</span>")
            +card-seis("Reconocimiento por noveno año consecutivo IR-BVC, mediante el cual se nos destaca el cumplimiento e implementación de los más altos estándares establecidos en la Circular Única de la Bolsa de Valores, en materia de gobierno corporativo, revelación de información y relación con inversionistas.")
            +card-seis("Reconocimiento por noveno año consecutivo IR-BVC, mediante el cual se nos destaca el cumplimiento e implementación de los más altos estándares establecidos en la Circular Única de la Bolsa de Valores, en materia de gobierno corporativo, revelación de información y relación con inversionistas.")
            +card-seis("Reconocimiento por noveno año consecutivo IR-BVC, mediante el cual se nos destaca el cumplimiento e implementación de los más altos estándares establecidos en la Circular Única de la Bolsa de Valores, en materia de gobierno corporativo, revelación de información y relación con inversionistas.")
            +card-seis("Reconocimiento por noveno año consecutivo IR-BVC, mediante el cual se nos destaca el cumplimiento e implementación de los más altos estándares establecidos en la Circular Única de la Bolsa de Valores, en materia de gobierno corporativo, revelación de información y relación con inversionistas.")
            +card-seis("Reconocimiento por noveno año consecutivo IR-BVC, mediante el cual se nos destaca el cumplimiento e implementación de los más altos estándares establecidos en la Circular Única de la Bolsa de Valores, en materia de gobierno corporativo, revelación de información y relación con inversionistas.")