extends ../layouts/base.pug
block content
    include ../components/header.pug
    .responsabilidad-container
        .responsabilidad-box.wrapper-intern
            .responsabilidad-title
                h1 Responsabilidad social
            .responsabilidad-text
                p Diseñamos modelos de interacción con nuestros grupos de interés que nos permiten, por medio del diálogo y la colaboración, entender las necesidades de los territorios que impactamos para diseñar ofertas e intervenciones que se ajusten a la particularidad de cada región y contribuyan a la generación de valor.
                p Adicionalmente, hemos implementado acciones que potencien el impacto social de nuestros proyectos contribuyendo así al desarrollo sostenible del país, por medio de tres líneas de acción:
    .slider-container
