extends ../layouts/base.pug
include ../components/slider-desarrollo-item.pug
block title
    title Responsabilidad social | Informe de Gestión y sostenibilidad 2023
block content
    include ../components/header.pug
    main.main-container
        .responsabilidad-container
            .responsabilidad-box.wrapper-intern
                .responsabilidad-title
                    h1 Responsabilidad social
                .responsabilidad-text
                    p Diseñamos modelos de interacción con nuestros grupos de interés que nos permiten, por medio del diálogo y la colaboración, entender las necesidades de los territorios que impactamos para diseñar ofertas e intervenciones que se ajusten a la particularidad de cada región y contribuyan a la generación de valor.
                    p Adicionalmente, hemos implementado acciones que potencien el impacto social de nuestros proyectos contribuyendo así al desarrollo sostenible del país, por medio de tres líneas de acción:
        .slider-desarrollo
            .slider-desarrollo-container.wrapper-intern
                .slider-desarrollo-box.wrapper-intern
                    +desarrollo-item("./images/responsabilidad-social1.jpg", "<span>Gestión social</span> realizamos acompañamiento técnico social a 615 proyectos en ejecución, en los cuales implementamos estrategias informativas y participativas que nos permitieron garantizar la apropiación y velar por la sostenibilidad de los proyectos en las regiones.")
                    +desarrollo-item("./images/responsabilidad-social2.jpg", "<span>Programa insignia:</span> aportamos a la realización del derecho a la recreación y el deporte de niños, niñas y adolescentes pertenecientes a los territorios de categorías 4, 5 y 6, como parte de nuestro compromiso al desarrollo del país, con la entrega de parques y elementos deportivos, beneficiando aproximadamente a 63.000 niños, niñas, adolescentes y jóvenes en cerca de 30 municipios.")
                    +desarrollo-item("./images/responsabilidad-social3.jpg", "<span>Nodo de sostenibilidad:</span> promovemos actividades con nuestros colaboradores orientadas a generar impacto en las dimensiones social, ambiental y económica. En este sentido, realizamos el proceso de actualización de materialidades y priorización de grupos de interés. Además, ponemos en marcha acciones de voluntariado social y ambiental, cuyo objetivo se centró en fortalecer la cultura de sostenibilidad de la entidad y generar un impacto positivo.")
block scripts
    script activeLink(4,10)