extends ../layouts/base.pug
block title
    title Talento findeter | Informe de Gestión y sostenibilidad 2023
block content
    include ../components/header.pug
    main.main-container
        .talento-container
            .talento-image
                    img(src="./images/talento-findeter-op.jpg", alt="")
            .talento-box.wrapper
                .talento-content
                    .talento-title
                        h1 Talento Findeter
                    .talento-text
                        p Somos una empresa familiarmente responsable (efr), conformada por cerca de 600 colaboradores, que permite conciliar el ámbito profesional con el personal y familiar, sin perder de vista la productividad y los resultados y, por ende, la competitividad e identificar así, de manera asertiva, las medidas de conciliación. La conciliación y su gestión apuntan a una nueva cultura de trabajo desde el modelo “todos ganan”.
                        p En la entidad, los colaboradores, los empleadores y la sociedad se benefician de nuevas formas de trabajo con igualdad de oportunidades, sin discriminación de sexo, raza, condición social, religión, región u otra índole.
                        p Este modelo se desarrolla bajo cinco dimensiones, como son: calidad en el empleo, flexibilidad temporal y espacial, apoyo a las familias, desarrollo y competencia profesional e igualdad de oportunidades, las que –a su vez– agrupan 61 medidas que están a disposición de todos los colaboradores mediante el catálogo de medidas efr.
block scripts
    script activeLink(3,6)