extends ../layouts/base.pug
block content
    include ../components/header.pug
    .botones.wrapper
        .boton-slide
        .boton-slide
        .boton-slide
    .contenedor.wrapper
        .slide-item
            p 1
        .slide-item
            p 2
        .slide-item
            p 3