.banner1-gestion.wrapper
    .banner1-item
        img(src='./images/gestion-ambiental-slider1.svg', alt='')
        .banner1-item-content
            p consumo de agua por colaborador, con una reducción de cerca del
                span  30 %, según la vigencia anterior.
    .banner1-item
        .banner1-item-content
            h3 68,87
                small kw/persona=
            p
                span uso eficiente de energía
                |  por consumo per cápita.
        img(src='./images/gestion-ambiental-slider5.svg', alt='')
    .banner1-item
        img(src='./images/gestion-ambiental-slider4.svg', alt='')
        .banner1-item-content
            h3 16
                small hojas/persona=
            p consumo promedio
                span  mensual de papel.
    .banner1-item
        .banner1-item-content
            h3 39,3%
            p de los
                span  residuos no peligrosos
                |  de la entidad fueron aprovechados.
        img(src='./images/gestion-ambiental-slider3.svg', alt='')
    .banner1-item
        img(src='./images/gestion-ambiental-slider2.svg', alt='')
        .banner1-item-content
            h3 100%
            p de los residuos peligrosos fueron dispuestos de forma eficiente mediante gestores autorizados.