.calificaciones-banner-container
    .calificaciones-banner-box
        .section-banner.bgcard-1
            .section-icon
                 img(src='./images/califica-icon3.svg', alt='')
            .section-text
                p El IDI promedio Nación – Rama Ejecutiva fue de
            .section-number
                p 81,4
        .section-banner.bgcard-2
            .section-icon
                img(src='./images/califica-icon4.svg', alt='')
            .section-text
                p El IDI promedio para Findeter fue de
            .section-number
                p 85,7
        .section-banner.bgcard-1
            .section-icon
                img(src='./images/califica-icon5.svg', alt='')
            .section-text
                p El IDI promedio para el sector Hacienda fue de
            .section-number
                p 82,69
        .section-banner-photo
            img(src="./images/califica-image.jpg", alt="")