.calificaciones-banner-container
    .calificaciones-banner-box
        .section-banner.bgcard-2
            .section-icon
                 img(src='./images/califica-banner2-icon1.svg', alt='')
            .section-text
                p La Procuraduría General de la Nación hace el seguimiento a la Ley de Transparencia y del Derecho de Acceso a la Información Pública
        .section-banner.bgcard-1
            .section-icon
                img(src='./images/califica-banner2-icon2.svg', alt='')
            .section-text
                p El ITA se mide sobre
            .section-number
                p 100
            .section-text
                p puntos
        .section-banner.bgcard-2
            .section-icon
                img(src='./images/califica-banner2-icon3.svg', alt='')
            .section-text
                p Findeter registró una calificación de
            .section-number
                p 100/100
            .section-text
                p en 2023
        .section-banner-photo
            img(src="./images/calificaciones-slider2.jpg", alt="")