.calificaciones-banner-container
    .calificaciones-banner-box
        .section-banner
        .section-banner
        .section-banner
        .section-banner
            img(src="https://placehold.co/500x200", alt="")