mixin card-uno(texto, icon)
    .card-uno
        .card-uno-icon-arrow
            <svg data-name="card-uno" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.89">
            <defs>
                <clipPath id="a"><path style="fill:none" d="M0 0h28.89v28.89H0z"/></clipPath>
            </defs>
            <g data-name="card-uno">
            <g style="clip-path:url(#a)">
                <path class="arrow-back" d="M0 14.44c0 7.95 6.49 14.44 14.44 14.44s14.44-6.49 14.44-14.44S22.4 0 14.44 0 0 6.49 0 14.44"/>
            </g>
                <path class="arrow-color" d="M21.93 23.37H6.96c-.79 0-1.44-.65-1.44-1.44s.65-1.44 1.44-1.44h11.5L6.72 8.75c-.56-.56-.56-1.47 0-2.04s1.47-.56 2.04 0L20.5 18.45V6.96c0-.79.65-1.44 1.44-1.44s1.44.65 1.44 1.44v15c0 .19-.04.36-.11.52-.07.17-.17.33-.31.47s-.3.24-.47.31c-.16.07-.34.1-.52.11s-.01 0-.02 0Z"/>
            </g>
            </svg>
        .card-uno-box
            .card-title
                img(src=icon alt="")
                p=texto