mixin card-cinco
    .card-cinco-container
        .card-cinco-box
            .card-cinco-icon
                img(src="http://placehold.co/108x108", alt="", srcset="")
            .card-cinco-title
                p Contribución de Findeter a los ODS
            .card-cinco-buttons
                a Ver más