mixin card-seis(text, icon)
    .card-seis-container
        .card-seis-box
            .card-seis-icon
                img(src=icon, alt="", srcset="")
            .card-seis-text
                p !{text}