mixin card-cuatro
    .card-cuatro
        .card-cuatro-image
            img(src="http://placehold.co/500x550", alt="", srcset="")
        .card-cuatro-overlay
        .card-cuatro-content
            .card-cuatro-icon
                img(src="http://placehold.co/50x50", alt="", srcset="")
            .card-cuatro-title
                p Ejes de sostenibilidad
            .card-cuatro-text
                p Promovemos el equilibrio social, económico y ambiental de nuestra operación.