mixin card-tres(image, title, desc, href)
    .card-tres-container
        .card-tres
            .card-tres-image
                img(src=image, alt="", srcset="")
            a(href=href target="_blank")
                .card-tres-overlay
                .card-tres-content
                    .card-tres-title
                        p !{title}
                    .card-tres-text
                        p=desc