mixin card-cinco(icon, title, link="#", buttonText="Ver más")
    .card-cinco-container
        .card-cinco-box
            .card-cinco-icon
                img(src=icon, alt="", srcset="")
            .card-cinco-title
                p=title
        .card-cinco-buttons
                a(href=link)
                    p=buttonText