mixin card-tres
    .card-tres
        .card-tres-image
            img(src="http://placehold.co/500x550", alt="", srcset="")
        .card-tres-overlay
        .card-tres-content
            .card-tres-title
                p Ejes de sostenibilidad
            .card-tres-text
                p Promovemos el equilibrio social, económico y ambiental de nuestra operación.