mixin cifra-icon(icon, text)
    .cifra-space-box
        .cifra-icon
            .icon-img
                img(src=icon, alt='')
            .cifra-text
                p&attributes(attributes) !{text}