mixin directivos-avatar(nombre, cargo)
    .directivo-item
        .directivo-avatar
            img(src="images/avatar.svg", alt="")
        .directivo-nombre
            p=nombre
        .directivo-cargo
            p=cargo