section.file-banner-container
    .file-banner.wrapper
        .file-image
            img(src="./images/cartaaccionistas.png", alt="Imagen,Carta accionistas")
        .file-embed
            a(href="") Descarga aquí la carta a los accionistas