mixin file-banner(image, text, link)
    section.file-banner-container
        .file-banner.wrapper
            .file-image
                img(src=image, alt="Imagen")
            .file-embed
                .file-content
                    img(src='./images/download-banner-icon.svg', alt='')
                    a(href=link)=text