.finanzas-section2
    .finanzas2-container
        .finanzas-box.wrapper
            +card-uno("Principales indicadores", "./images/finanzas-btn-slider1.svg")
            +card-uno("Captación de recursos", "./images/finanzas-btn-slider2.svg")
            +card-uno("Ejecución de recursos internacionales", "./images/finanzas-btn-slider3.svg")
.finanzas-container

    .finanzas-slider-item
        .finanzas2-text
            .wrapper
                p Los indicadores de rentabilidad presentaron un desempeño superior al registrado en vigencias anteriores, derivado del óptimo desempeño alcanzado en materia operacional:
        .finanzas-section3
            .finanzas3-cards.wrapper
                .finanzas3-item
                    p El ROE (return on equity) presentó un resultado del 10,63 %, con un crecimiento de 414 puntos básicos frente a 2022, apalancado por los ingresos de intereses de cartera, inversiones y liquidez, ejecución de proyectos, y otros ingresos como los asociados a reintegros del Fondo Nacional de Garantías, y la recuperación de provisión de los “bonos agua”.
                .finanzas3-item
                    p El ebitda (Earnings Before Interest, Taxes, Depreciation and Amortization) tuvo una dinámica positiva gracias al comportamiento del margen financiero, que presentó una variación de COP167.433 millones de un año a otro, y equivalente a un aumento del 83,59 %.
                .finanzas3-item
                    p Conforme con lo dispuesto en la metodología Basilea III, la relación de solvencia presentó un resultado de 24,18 %, con un aumento de 18 puntos básicos (pb) respecto a los resultados obtenidos al cierre de 2022.
                .finanzas3-item
                    p El indicador de eficiencia registró un aumento de 15 pb respecto al mismo periodo de 2022, con un mejor desempeño frente a las expectativas trazadas, gracias al comportamiento de los activos productivos, los cuales crecieron un 10,14 % de un año a otro, lo que equivale a una variación de COP1.297.987 millones.
        .finanzas3-image
            .wrapper
                img(src='./images/finanzas-res-slider1.jpg' alt='')

    .finanzas-slider-item
        .finanzas2-text
            .wrapper
                p Durante 2023 logramos captar recursos por COP8,40 billones a través de emisiones de CDT, lo que representó un incremento en el monto emitido en 2022 como resultado de la mayor demanda de recursos para hacer frente a la reactivación económica del país.
                p Las emisiones directas que efectuamos en el mercado primario alcanzaron los COP6,69 billones; también realizamos renovaciones por COP1,71 billones, lo cual significó un incremento del 45 % con respecto a 2022.
        .finanzas3-table
            .finanzas3-table-box.wrapper
                img(src='./images/finanzas-res-slider2.svg' alt='')

    .finanzas-slider-item
        .finanzas2-text
            .wrapper
                p Estas son algunas de las operaciones de crédito con entidades internacionales que realizamos en 2023:
        .finanzas-section3
            .finanzas3-cards.wrapper
                .finanzas3-item
                    p En el marco de los contratos de préstamo que hemos suscrito con el Banco Interamericano de Desarrollo (BID), el Banco de Crédito Alemán para la Reconstrucción (KfW) y JPMorgan Chase, ejecutamos en 2023 USD115,5 millones. Los proyectos financiados a través de estas líneas aportan al desarrollo urbano del país, a la continuidad y mejora en la prestación de los servicios públicos y sociales, al desarrollo del sector de energía y eficiencia energética, y a la mejora en la prestación del servicio agua y saneamiento básico en las distintas regiones.
                .finanzas3-item
                    p Los proyectos financiados a través de estas líneas aportan al desarrollo urbano del país, a la continuidad y mejora en la prestación de los servicios públicos y sociales, al desarrollo del sector de energía y eficiencia energética, y a la mejora en la prestación del servicio agua y saneamiento básico en las distintas regiones.
                .finanzas3-item
                    p En mayo de 2023 finalizamos la ejecución del crédito con JPMorgan Chase, con garantía MIGA, suscrito en septiembre de 2022. Este préstamo, por un monto de COP623.700 millones, buscaba la financiación de créditos para la adaptación y mitigación al cambio climático (Climate Finance), así como la financiación de los sectores de salud y educación.
                .finanzas3-item
                    p En octubre de 2023 finalizamos la ejecución del crédito con KfW para energía y eficiencia energética. Este préstamo, por un monto de USD82,4 millones, tenía como finalidad la financiación de inversiones en pequeñas centrales hidroeléctricas (pch), proyectos solares y alumbrado públicos, buscando la mitigación al cambio climático a través de la financiación de nueve proyectos.
        .finanzas2-text
            .wrapper
                p En materia de cooperación internacional avanzamos en los siguientes frentes:
        .finanzas-section3
            .finanzas3-cards.wrapper
                .finanzas3-item
                    p Suscribimos una cooperación no reembolsable con la Oficina de las Naciones Unidas de Servicios para Proyectos (UNOPS) por USD299.840, que tiene como objetivo apoyar el desarrollo de capacidades y fortalecimiento de la línea de base hacia un portafolio de acciones de mitigación de GEI del sector transporte para Bogotá.
                .finanzas3-item
                    p Logramos la consecución de aproximadamente USD555.336 para la financiación del evento Transformando Regiones, que tuvo lugar en Cartagena del 15 al 17 de noviembre de 2023. Los recursos fueron otorgados a Findeter por CAF, KfW, AFD y Grupo Banco Mundial. Este evento tuvo como objetivo brindar apoyo integral a los nuevos gobernadores y alcaldes en la planeación, financiamiento y exitosa ejecución de proyectos de desarrollo local en diversas regiones de Colombia durante el próximo cuatrienio.
        .finanzas2-text
            .wrapper
                p Adicional a lo anterior, en 2023 ejecutamos exitosamente recursos de cooperación internacional no reembolsable en los siguientes programas e iniciativas:
        .finanzas-section3
            .finanzas3-cards.wrapper
                .finanzas3-item
                    p <span>Abu Dabi CDI:</span> de acuerdo con el Memorando de Entendimiento (MoU) suscrito entre el Fondo de Abu Dabi para el Desarrollo y la Agencia Presidencial para la Cooperación Internacional (APC-Colombia), nuestra entidad está a cargo de la construcción, dotación y adecuación de 37 centros de desarrollo infantil (CDI).
                    p A 2023 se habían recibido USD8,6 millones en desembolsos, de los cuales se han ejecutado USD6,9 millones, lo que correspondería a un 67 % del total de los recursos de la cooperación. El año pasado entregamos a satisfacción 10 CDI, y se estima entregar a satisfacción 6 CDI en 2024.
                .finanzas3-item
                    p <span>Abu Dabi Centros Sacúdete:</span> mediante la adenda N.o 5 al Memorando de Entendimiento (MoU) suscrito entre el Fondo de Abu Dabi para el Desarrollo y la Agencia Presidencial para la Cooperación Internacional (APC-Colombia), nuestro banco está a cargo de la construcción y dotación de 13 centros para la juventud. A 2023 se habían recibido USD1,9 millones en desembolsos, de los cuales se han ejecutado USD692.000, lo que correspondería a un 14 % del total de los recursos de la cooperación. Se estima entregar los 13 centros en 2024, incluyendo la dotación.
        .finanzas-section3
            .finanzas3-cards.wrapper
                .finanzas3-item
                    p <span>Programa de Protección Ambiental Municipal – KfW:</span> consiste en promover el financiamiento de inversiones en el sector de agua potable, saneamiento básico y residuos sólidos en Colombia. En el marco de este programa hemos recibido recursos de cooperación no reembolsables, los cuales están actualmente en ejecución.
                .finanzas3-item
                    p <span>Apoyo al Plan Pacífico:</span> como parte de los proyectos estratégicos del Gobierno nacional, se busca priorizar el apoyo a la región del Pacífico. En ese sentido, durante 2023 trabajamos en un diagnóstico multisectorial que permitiera conocer la infraestructura disponible en los departamentos de Chocó, Valle, Nariño y Cauca, así como los retos en esta materia.
                .finanzas3-item
                    p <span>Cooperación con el Fondo Verde del Clima (GCF):</span> durante el primer trimestre de 2023 realizamos esfuerzos para culminar la negociación del Acuerdo Maestro de Acreditación (AMA) con el Fondo Verde del Clima (GCF, por sus siglas en inglés). Pertenecer a este fondo representa una gran oportunidad con el fin de movilizar recursos del GCF para financiar proyectos con impactos significativos para la agenda climática del país.