.financiacion-banner-container.wrapper
    .financiacion-box
        .financiacion-title
            p Del total:
        .financiacion-text
            .financiacion-image
                 img(src='./images/financiacion-image1.jpg', alt='')
            .financiacion-cifras
                .financiacion-cifra
                    .cifra-icono
                         img(src='./images/financiacion-icon1.svg', alt='')
                    .cifra-content
                        .cifra-text
                            h2 COP1,39 billones (36 %)
                        .cifra-body
                            p para entidades territoriales
                .financiacion-cifra
                        .cifra-icono
                            img(src='./images/financiacion-icon2.svg', alt='')
                        .cifra-content
                            .cifra-text
                                h2 COP1,39 billones (36 %)
                            .cifra-body
                                p para proyectos privados
                .financiacion-cifra
                        .cifra-icono
                            img(src='./images/financiacion-icon3.svg', alt='')
                        .cifra-content
                            .cifra-text
                                h2 COP1,09 billones (28 %)
                            .cifra-body
                                p para proyectos públicos
        .financiacion-number
            .financiacion-number-box
                .financiacion-number-icon
                    img(src='./images/financiacion-icon4.svg', alt='')
                .financiacion-number-body
                    .body-title
                        p 670
                            span proyectos
                    .body-text
                        p en todo el país