.financiacion-banner-container.wrapper
    .financiacion-box
        .financiacion-title
            p Del total:
        .financiacion-text
            .financiacion-image
                 img(src='https://placehold.co/745x410', alt='')
            .financiacion-cifras
                .financiacion-cifra
                    .cifra-icono
                         img(src='https://placehold.co/50x50', alt='')
                    .cifra-content
                        .cifra-text
                            h2 COP1,39 billones (36 %)
                        .cifra-body
                            p para entidades territoriales
                .financiacion-cifra
                        .cifra-icono
                            img(src='https://placehold.co/50x50', alt='')
                        .cifra-content
                            .cifra-text
                                h2 COP1,39 billones (36 %)
                            .cifra-body
                                p para entidades territoriales
                .financiacion-cifra
                        .cifra-icono
                            img(src='https://placehold.co/50x50', alt='')
                        .cifra-content
                            .cifra-text
                                h2 COP1,39 billones (36 %)
                            .cifra-body
                                p para entidades territoriales
        .financiacion-number
            .number-box
                .number-icon
                    img(src='https://placehold.co/169x185', alt='')
                .number-body
                    .body-title
                        p 670 proyectos
                    .body-text
                        p en todo el país