footer
    .social-icons-container.wrapper
        a(href="#")
            img(class="social-icon-item", src="./images/icon-twitter.svg", alt="Facebook logo")
        a(href="#")
            img(class="social-icon-item", src="./images/icon-facebook.svg", alt="Facebook logo")
        a(href="#")
            img(class="social-icon-item", src="./images/icon-instagram.svg", alt="Facebook logo")
        a(href="#")
            img(class="social-icon-item", src="./images/icon-youtube.svg", alt="Facebook logo")
    .separator.wrapper
        hr
    .info-entidad.wrapper
        img(src="./images/logohacienda.svg", alt="", srcset="")
        p www.findeter.gov.co  |  Dirección General: Calle 103 No. 19-20, Bogotá D.C.  |  Tel.: (1) 623 0311 / 623 0388

