footer
    .social-icons-container.wrapper
        a(href="https://twitter.com/Findeter" target="_blank")
            img(class="social-icon-item", src="./images/icon-twitter.svg", alt="X logo")
        a(href="https://www.facebook.com/findetercol/", target="_blank")
            img(class="social-icon-item", src="./images/icon-facebook.svg", alt="Facebook logo")
        a(href="https://www.instagram.com/findetercol/", target="_blank")
            img(class="social-icon-item", src="./images/icon-instagram.svg", alt="Instagram logo")
        a(href="https://www.youtube.com/c/Findeterplus", target="_blank")
            img(class="social-icon-item", src="./images/icon-youtube.svg", alt="Youtube logo")
    .separator.wrapper
        hr
    .info-entidad.wrapper
        img(src="./images/logohacienda.svg", alt="", srcset="")
        p www.findeter.gov.co  |  Dirección General: Calle 103 No. 19-20, Bogotá D.C.  |  Tel.: (1) 623 0311 / 623 0388

