.gestion-ambiental-banner
    .gestion-ambiental-banner-container
        .gestion-ambiental-buttons.wrapper
            .ambiental-button
                    img(src='./images/gestion-ambiental-icon1.svg', alt='')
            .ambiental-button
                    img(src='./images/gestion-ambiental-icon2.svg', alt='')
            .ambiental-button
                    img(src='./images/gestion-ambiental-icon3.svg', alt='')
    .gestion-ambiental-content
        .slide-content
            include ../components/banner1-gestion-ambiental.pug
        .slide-content
            .content-huella-carbono
                .content-box-margin
                    .number-box
                        h3 268
                        p Bonos de carbono adquiridos para compensar el 100 % de nuestra huella de carbono.
        .slide-content
            .content-arboles
                .content-box-margin
                    .number-box
                        h3 1000
                        p Árboles sembrados por Findeter en Tenjo (Cundinamarca) y en el Amazonas, buscando generar nuevos puntos y pulmones verdes.

