.gestion-ambiental-banner
    .gestion-ambiental-container.wrapper
        .gestion-ambiental-buttons
            .ambiental-button
                a(href="")
                    img(src='https://placehold.co/257x257', alt='')
            .ambiental-button
                a(href="")
                    img(src='https://placehold.co/257x257', alt='')
            .ambiental-button
                a(href="")
                    img(src='https://placehold.co/257x257', alt='')
        .gestion-ambiental-contenedor
            .gestion-ambiental-slide
                p Slide 1
            .gestion-ambiental-slide
                p Slide 2
            .gestion-ambiental-slide
                p Slide 3