header
    .header-top__ribbon
        img(src="./images/senefatopok.png" aria-hidden="true")
    include ./navigation.pug
    .header-image
        img(src="./images/header-desktop.png", alt="")
        .header-home
                .header-logo
                    img(src="./images/logofindeter.svg", alt="", srcset="")
                .header-text
                    p Informe de Gestión y Sostenibilidad 2023