header
    .header-top__ribbon
        // img(src="./images/senefatopok.png" aria-hidden="true")
    include ./navigation.pug
    //.container-back
       img(src="./images/senefaback.svg" aria-hidden="true")