nav.nav-main
    .nav-container-main
        ul.nav-list.wrapper
            li.nav-item.item-active
                a(href="#") Bienvenidos al informe
            li.nav-item
                a(href="#") Hechos destacados
            li.nav-item
                a(href="#") Nuestra gestión
            li.nav-item
                a(href="#") Desarrollo sostenible
            li.nav-item
                a(href="#") Impacto en las regiones
            li.nav-item
                a(href="#") Perspectivas 2024
    .nav-container-dropdown
        ul.nav-list-dropdown.wrapper
            li.nav-item
                a(href="#") Bienvenidos al informe
            li.nav-item
                a(href="#") Hechos destacados
            li.nav-item
                a(href="#") Nuestra gestión
    .container-logo.wrapper
        img(src="./images/logofindeter.svg" aria-hidden="true")