nav.nav-main
    .nav-burguer
        <svg class="burguer-icon" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 18h16M4 12h16M4 6h16" stroke-width="2" stroke-linecap="round"/></svg>
    .nav-container-main
        ul.nav-list.wrapper
            li.nav-item.item-active
                a(href="./") Inicio
            li.nav-item
                a(href="./bienvenidos.html") Bienvenidos al informe
            li.nav-item
                a(href="#") Hechos destacados
                .nav-container-dropdown
                    ul.nav-list-dropdown.wrapper
                        li.nav-item-dropdown
                            a(href="./cifras-relevantes.html") Cifras relevantes
                        li.nav-item-dropdown
                            a(href="#") Reconocimientos
            li.nav-item
                a(href="#") Nuestra gestión
                .nav-container-dropdown
                    ul.nav-list-dropdown
                        li.nav-item-dropdown
                            a(href="#") Estrategia corporativa
                        li.nav-item-dropdown
                            a(href="#") Calificaciones
                        li.nav-item-dropdown
                            a(href="#") Productos
                        li.nav-item-dropdown
                            a(href="#") Directivos
                        li.nav-item-dropdown
                            a(href="#") Talento findeter
                        li.nav-item-dropdown
                            a(href="#") Innovación y Transformación
            li.nav-item
                a(href="#") Desarrollo sostenible
                .nav-container-dropdown
                    ul.nav-list-dropdown.wrapper
                        li.nav-item-dropdown
                            a(href="#") Ejes de sostenibilidad
                        li.nav-item-dropdown
                            a(href="#") Responsabilidad social
                        li.nav-item-dropdown
                            a(href="#") Gestión ambiental
            li.nav-item
                a(href="#") Impacto en las regiones
                .nav-container-dropdown
                    ul.nav-list-dropdown.wrapper
                        li.nav-item-dropdown
                            a(href="#") Contribución de Findeter a los ODS
                        li.nav-item-dropdown
                            a(href="#") Planificación territorial
                        li.nav-item-dropdown
                            a(href="#") Financiación
                        li.nav-item-dropdown
                            a(href="#") Asistencia técnica
                        li.nav-item-dropdown
                            a(href="#") Economía popular
                        li.nav-item-dropdown
                            a(href="#") Finanzas responsables

            li.nav-item
                a(href="#") Perspectivas 2024
