.objetivos-banner-box
    .objetivos-banner-container.wrapper
        .objetivos-title
            h2 Impacto directo positivo
        .objetivos-icons-grid
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
    .objetivos-banner-container.objetivos-noborder.wrapper
        .objetivos-title
            h2 Impacto indirecto positivo
        .objetivos-icons-grid
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")
            img(src="https://placehold.co/50x50", alt="", srcset="")

