.objetivos-banner-box
    .objetivos-banner-container.wrapper
        .objetivos-title
            h2 Impacto directo positivo
        .objetivos-icons-grid
            img(src="./images/ods/ods1.png", alt="", srcset="")
            img(src="./images/ods/ods2.png", alt="", srcset="")
            img(src="./images/ods/ods3.png", alt="", srcset="")
            img(src="./images/ods/ods4.png", alt="", srcset="")
            img(src="./images/ods/ods5.png", alt="", srcset="")
            img(src="./images/ods/ods6.png", alt="", srcset="")
            img(src="./images/ods/ods7.png", alt="", srcset="")
            img(src="./images/ods/ods8.png", alt="", srcset="")
            img(src="./images/ods/ods9.png", alt="", srcset="")
            img(src="./images/ods/ods10.png", alt="", srcset="")
    .objetivos-banner-container.objetivos-noborder.wrapper
        .objetivos-title
            h2 Impacto indirecto positivo
        .objetivos-icons-grid
            img(src="./images/ods/ods11.png", alt="", srcset="")
            img(src="./images/ods/ods12.png", alt="", srcset="")
            img(src="./images/ods/ods13.png", alt="", srcset="")
            img(src="./images/ods/ods14.png", alt="", srcset="")
            img(src="./images/ods/ods15.png", alt="", srcset="")

