include ../components/productos-line-item.pug
.productos-line-container
    .productos-line-box.wrapper
        .line-box-wrapper
            //- producto-item(title, text, img)
            +producto-item("Transporte", "Vial, férreo, fluvial, aéreo, marítimo y transporte urbano y terrestre, tanto de carga como de pasajeros.", "./images/producto-icon1.svg")
            +producto-item("Medio ambiente", "Producción limpia y mercados verdes. Protección y gestión del riesgo ambiental.", "./images/producto-icon2.svg")
            +producto-item("Salud" , "Construcción, ampliación adecuación y mantenimiento. Dotación y adquisición de equipos e instrumentos.", "./images/producto-icon3.svg")
            +producto-item("Telecomunicaciones", "Radio y televisión, telefonía, redes y TIC, correo postal.", "./images/producto-icon4.svg")
            +producto-item("Desarrollo urbano y vivienda", "Vivienda urbana y desarrollo urbano.", "./images/producto-icon5.svg")
            +producto-item("Agua potable y saneamiento básico", "Acueducto, alcantarillado y residuos.", "./images/producto-icon6.svg")
            +producto-item("Educación", "Construcción, compra, ampliación y adecuación de instalaciones educativas.", "./images/producto-icon7.svg")
            +producto-item("Saneamiento fiscal", "Desarrollo y fortalecimiento institucional.", "./images/producto-icon8.svg")
            +producto-item("Energético", "Hidrocarburos, carbón, energía eléctrica, gas y otras formas de energía.", "./images/producto-icon9.svg")
            +producto-item("Turismo", "Ampliación, mantenimiento, remodelación y dotación.", "./images/producto-icon10.svg")
            +producto-item("Deporte y recreación", "Construcción, compra, ampliación y adecuación de instalaciones.", "./images/producto-icon11.svg")
            +producto-item("Industria creativa y cultural", "Equipamientos culturales y creativos. Formación cultural y creativa, patrimonio cultural, material e inmaterial; industrias culturales y creativas. Desarrollo del sector.", "./images/producto-icon12.svg")
.productos-line-foo