.proposito-superior-container
    .proposito-superior-box
        .proposito-section-1
            .section-1-icon
                img(src="./images/proposito-icon.svg", alt="")
            .section-1-box.wrapper-intern
                .section-1-text
                    h2 Propósito superior
                    p Mejorar la calidad de vida de los colombianos más necesitados.
        .proposito-section-2
            .section-2-box.wrapper-intern-70
                .section-2-item
                    .section-2-icon
                        img(src="./images/proposito-icon2.svg", alt="")
                    .section-2-text
                        h3 Visión
                        p A 2026 seremos la Banca de Desarrollo reconocida por contribuir al fortalecimiento territorial y la inclusión financiera, mediante soluciones sostenibles e innovadoras.
                .section-2-item
                    .section-2-icon
                        img(src="./images/proposito-icon3.svg", alt="")
                    .section-2-text
                        h3 Visión
                        p Somos el socio estratégico del Gobierno nacional y entidades territoriales para la planificación, estructuración, financiación y ejecución de proyectos sostenibles que transforman territorios.
        .proposito-section-3
            .section-3-top-title.wrapper-intern-70
                h2 Focos
            .section-3-box.wrapper-intern-70
                .section-3-item
                    .section-3-title
                        h3 F1
                    .section-3-text
                        p Brechas socioeconómicas y desigualdades regionales
                .section-3-item
                    .section-3-title
                        h3 F2
                    .section-3-text
                        p Adaptación al cambio climático y transición energética
                .section-3-item
                    .section-3-title
                        h3 F3
                    .section-3-text
                        p Responsabilidad social y balance financiero
                .section-3-item
                    .section-3-title
                        h3 F4
                    .section-3-text
                        p Talento humano y cultura organizacional
        .proposito-section-4
            .section-4-box
                //FIXME - Revisar el video o foto que va aquí
                img(src='https://placehold.co/1100x550', alt='')
        .proposito-section-5.wrapper-intern
            //FIXME - Revisar el link que va aquí
            a(href="" class="btn btn-proposito") Consulta el plan completo aquí