.proposito-superior-container
    .proposito-superior-box.wrapper
        .proposito-section-1
            .section-1-icon
                img(src="http://placehold.co/80x80", alt="")
            .section-1-text
                h2 Propósito superior
                p Mejorar la calidad de vida de los colombianos más necesitados.
        .proposito-section-2
            .section-2-item
                .section-2-icon
                    img(src="http://placehold.co/80x80", alt="")
                .section-2-text
                    h3 Visión
                    p A 2026 seremos la Banca de Desarrollo reconocida por contribuir al fortalecimiento territorial y la inclusión financiera, mediante soluciones sostenibles e innovadoras.
            .section-2-item
                .section-2-icon
                    img(src="http://placehold.co/80x80", alt="")
                .section-2-text
                    h3 Visión
                    p A 2026 seremos la Banca de Desarrollo reconocida por contribuir al fortalecimiento territorial y la inclusión financiera, mediante soluciones sostenibles e innovadoras.
        .proposito-section-3
            .section-3-item
                .section-3-title
                    h3 F1
                .section-3-text
                    p Brechas socioeconómicas y desigualdades regionales
        .section-3-item
                .section-3-title
                    h3 F1
                .section-3-text
                    p Brechas socioeconómicas y desigualdades regionales
        .section-3-item
                .section-3-title
                    h3 F1
                .section-3-text
                    p Brechas socioeconómicas y desigualdades regionales
        .section-3-item
                .section-3-title
                    h3 F1
                .section-3-text
                    p Brechas socioeconómicas y desigualdades regionales