// Bogotá
.proyectos-slider-item
    .proyectos-slider-item-title
        h3 Bogotá D.C.
    .proyectos-slider-item-content
        .proyectos-slider-item-text
            p Financiación para la Empresa de Acueducto y Alcantarillado de Bogotá para el plan de inversiones de la empresa por COP250.000 millones.
            p Financiación de obras en la Universidad Nacional de Colombia.
        .proyectos-slider-item-image
            lite-youtube(videoid="Iop82MAdQcY")
// Antioquia
.proyectos-slider-item
    .proyectos-slider-item-title
        h3 Antioquia
    .proyectos-slider-item-content
        .proyectos-slider-item-text
            p Financiación del Plan de Desarrollo 2020 - 2023 por
            span COP149.185 millones.
            p En Itagüi financiación del Plan de Desarrollo 2020 - 2023
            span COP73.963 millones
        .proyectos-slider-item-image
             img(src='./images/map-item-antioquia.jpg', alt='')
// Bolivar
.proyectos-slider-item
    .proyectos-slider-item-title
        h3 Bolívar
    .proyectos-slider-item-content
        .proyectos-slider-item-text
            p Financiación del Plan de Desarrollo 2020 - 2023
        .proyectos-slider-item-image
            lite-youtube(videoid="uuHWrOOUAKI")
// Atlántico
.proyectos-slider-item
    .proyectos-slider-item-title
        h3 Atlántico
    .proyectos-slider-item-content
        .proyectos-slider-item-text
            p Financiación de proyectos del Plan de Desarrollo por COP46.100 millones y proyecto de saneamiento fiscal y financiero de E.S.E. por COP35.000 millones.
            span COP35.000 millones.
            p Distrito de Barranquilla: financiación para la empresa Transelca S. A. ESP para la financiación del plan de inversiones 2023 por
            span COP208.670 millones
        .proyectos-slider-item-image
             img(src='./images/map-item-atlantico.jpg', alt='')
// Armenia (Quindío)
.proyectos-slider-item
    .proyectos-slider-item-title
        h3 Armenia (Quindío)
    .proyectos-slider-item-content
        .proyectos-slider-item-text
            p Financiación del Plan de Desarrollo 2020 - 2023 por
            span COP35.000 millones.
        .proyectos-slider-item-image
            img(src='./images/map-item-armenia.jpg', alt='')
// Cundinamarca
.proyectos-slider-item
    .proyectos-slider-item-title
        h3 Cundinamarca
    .proyectos-slider-item-content
        .proyectos-slider-item-text
            p Financiación de la red hospitalaria por COP47.069 millones y de 11 proyectos del Plan de Desarrollo por COP34.953 millones.
        .proyectos-slider-item-image
            img(src='./images/map-item-cundinamarca.jpg', alt='')