include ./card-cinco.pug
.section-impacto-container
    .section-impacto-box.wrapper
        .impacto-text
            .impacto-title
                h2 Impacto <br> en las regiones
            .impacto-description
                p Somos el aliado estratégico del Gobierno nacional y las entidades territoriales para la financiación y ejecución de programas y proyectos que transforman los territorios.
        .impacto-image-map
            img(src="./images/impacto-mapa.png", alt="")
.section-impacto-buttons
    .impacto-buttons-box.wrapper
        +card-cinco("./images/impacto-icon1.svg", "Contribución de Findeter a los ODS", "./contribucion-ods.html")
        +card-cinco("./images/impacto-icon2.svg", "Planificación territorial", "./planificacion-territorial.html")
        +card-cinco("./images/impacto-icon3.svg", "Financiación", "./financiacion.html")
        +card-cinco("./images/impacto-icon4.svg", "Asistencia técnica", "./asistencia-tecnica.html")
        +card-cinco("./images/impacto-icon5.svg", "Economía popular ", "./economia-popular.html")
        +card-cinco("./images/impacto-icon6.svg", "Finanzas responsables", "./finanzas-responsables.html")