include ./card-cinco.pug
.section-impacto-container
    .section-impacto-box.wrapper
        .impacto-text
            .impacto-title
                h2 Impacto en las regiones
            .impacto-description
                p Somos el aliado estratégico del Gobierno nacional y las entidades territoriales para la financiación y ejecución de programas y proyectos que transforman los territorios.
        .impacto-image-map
            img(src="/public/images/impacto-mapa.png", alt="")
.section-impacto-buttons
    .impacto-buttons-box.wrapper
        +card-cinco("/public/images/impacto-icon1.svg", "Contribución de Findeter a los ODS")
        +card-cinco("/public/images/impacto-icon2.svg", "Planificación territorial")
        +card-cinco("/public/images/impacto-icon3.svg", "Financiación")
        +card-cinco("/public/images/impacto-icon4.svg", "Asistencia técnica")
        +card-cinco("/public/images/impacto-icon5.svg", "Economía popular ")
        +card-cinco("/public/images/impacto-icon6.svg", "Finanzas responsables")