.slider-planificacion
    .slider-wrapper.wrapper-intern
        .slider-planificacion-container
            .slider-planificacion-box
                .slider-item
                    img(src='./images/planificacion-banner5.png', alt='')
                .slider-item
                    img(src='./images/planificacion-banner2.jpg', alt='')
                .slider-item
                    img(src='./images/planificacion-banner3.jpg', alt='')
                .slider-item
                    img(src='./images/planificacion-banner4.png', alt='')
                .slider-item
                    img(src='./images/planificacion-banner1.jpg', alt='')
        .slider-planificacion-text
            p Plan de Acción Cartago Ciudad Emblemática “Cartago, territorio de progreso, seguro y sostenible” (municipio categoría cuatro al momento de la realización del proyecto, y hoy reclasificado en categoría dos).
            a(href="https://www.findeter.gov.co/blog/planear-el-territorio/conozca-el-diagnostico-del-pda-cartago" target="_blank") Para conocer más sobre esta iniciativa haga
                span clic aquí