include ../components/slider-asistencia-item.pug
.slider-asistencia
    .slider-asistencia-container.wrapper
        .slider-asistencia-box.wrapper
            +asistencia-item("https://placehold.co/50x50", "Texto de prueba")
            +asistencia-item("https://placehold.co/50x50", "Texto de prueba")
            +asistencia-item("https://placehold.co/50x50", "Texto de prueba")
            +asistencia-item("https://placehold.co/50x50", "Texto de prueba")
            +asistencia-item("https://placehold.co/50x50", "Texto de prueba")
            +asistencia-item("https://placehold.co/50x50", "Texto de prueba")