mixin asistencia-item(foto, texto)
    .slider-asistencia-item
        .asitencia-item-box
            .asistencia-item-image
                img(src=foto , alt='')
            .asistencia-item-text
                p !{texto}