include ../components/slider-asistencia-item.pug
.slider-asistencia
    .slider-asistencia-container
        .slider-asistencia-box.wrapper
            +asistencia-item("./images/asistencia-banner1.jpg", "Sector agua potable y saneamiento básico")
            +asistencia-item("./images/asistencia-banner2.jpg", "Sector deporte <br> y recreación")
            +asistencia-item("./images/asistencia-banner3.jpg", "Desarrollo urbano <br><br>")
            +asistencia-item("./images/asistencia-banner5.jpg", "Sector de educación<br><br>")
            +asistencia-item("./images/asistencia-banner6.jpg", "Sector de transporte<br> y movilidad")
            +asistencia-item("./images/asistencia-banner7.jpg", "Sector de tecnologías de la información y las comunicaciones")
            +asistencia-item("./images/asistencia-banner8.jpg", "Sector de fortalecimiento y desarrollo productivo")

    .asistencia-textimage-container
            .asistencia-textimage-box.wrapper
                .textimage-box-content
                    .text-box
                        p Contamos con la ejecución de 78 proyectos para la construcción de acueductos, alcantarillados, plantas de tratamiento de agua potable y residuales, en alianza con el Ministerio de Vivienda, la Agencia de Desarrollo Rural, el municipio de Jamundí, y la Unidad Nacional de Gestión de Riesgos de Desastres (UNGRD).
                        p Nombre del proyecto: Planta desalinizadora de 50 L/s de la Isla de San Andrés.
                        span Valor: USD 24.501.789,81 más COP2.328 millones.
                        p El proyecto lleva a cabo la desalinización y potabilización del agua de mar, mediante un sistema de ultrafiltración y ósmosis inversa, que permitió el aumento de la frecuencia del suministro del agua en un 80 %, en 43 subsectores del circuito hidráulico de La Loma.
                    .image-box
                        img(src='./images/asistencia-slider1b.png', alt='')
            .asistencia-textimage-box.wrapper
                .textimage-box-content
                    .text-box
                        p Trabajamos 136 proyectos de parques recreo-deportivos y escenarios como canchas, estadios, polideportivos, derivados de contratos con el Ministerio del Deporte.
                        p Nombre del proyecto: Parque Recreo-deportivo Integral Santa Clara (Pereira).
                        span Valor: COP 2.347millones
                        p El complejo está dirigido a niños, jóvenes y adulto mayor, y se encuentra dotado con un aula lúdica, senderos, pista de trote, cancha sintética con graderías cubiertas, zona de juegos infantiles, gimnasio biosaludable, y una zona de estancia exclusiva para el adulto mayor.
                    .image-box
                        img(src='./images/asistencia-slider2.jpg', alt='')
            .asistencia-textimage-box.wrapper
                .textimage-box-content
                    .text-box
                        p Hemos participado en la construcción y mejora de 137 proyectos de vivienda, infraestructura administrativa y mejoramiento de barrios, con programas como Cambia Mi Casa, Barrios de Paz, Vivienda Nueva, y la reconstrucción de viviendas en Providencia.
                        p Comando Brigada XIII del Ejército en el cantón norte de Bogotá.
                        span Valor: COP30.603 millones.
                        p Tiene una estructura porticada en concreto con cerramiento en ladrillo gran formato y vidrio. Consta de 6 pisos y un mezanine con un área de construcción de 6.867,93 m².
                    .image-box
                        img(src='./images/asistencia-slider3.jpg', alt='')
            .asistencia-textimage-box.wrapper
                .textimage-box-content
                    .text-box
                        p A lo largo del año pasado intervinimos 108 proyectos de infraestructura para la primera infancia, primaria, secundaria, casas para la niñez y la juventud, en alianzas con el Ministerio de Educación, Ministerio de Vivienda, Instituto Colombiano de Bienestar Familiar, Unidad Nacional de Gestión de Riesgo de Desastres, y el SENA.
                        p Institución Educativa IV Centenario y Centro de Desarrollo Infantil (CDI) Sonrisa de Colores (Neiva).
                        span Valor: COP12.622 millones.
                        p Este proyecto contempló la construcción de aulas, áreas administrativas, zonas de servicios, circulación cubierta abierta y área libre (zonas duras y blandas). El colegio cuenta con una capacidad para 960 alumnos y el CDI puede albergar hasta 160 niños y niñas.
                    .image-box
                        img(src='./images/asistencia-slider4.jpg', alt='')
            .asistencia-textimage-box.wrapper
                .textimage-box-content
                    .text-box
                        p Se cuenta con 60 proyectos en la construcción de vías primarias, secundarias y terciarias, puentes, aeropuerto, administración de infraestructura férrea, y proyectos de dragado para garantizar la navegabilidad del río Magdalena.
                        p Mantenimiento de dragado del canal de acceso al Puerto de Barranquilla.
                        span Valor: COP 83.127 millones.
                        p Se logró mantener por más de diez meses una condición de calado operacional en el Puerto de Barranquilla de 10 m, lo que se traduce en seguridad para el ingreso de embarcaciones con mayor capacidad de carga.
                    .image-box
                        img(src='./images/asistencia-slider5b.png', alt='')
            .asistencia-textimage-box.wrapper
                .textimage-box-content
                    .text-box
                        p Se ejecutaron 12 proyectos, enfocados en el fortalecimiento del comercio electrónico y la conectividad de comerciantes y no comerciantes de todo el país con los programas Tu Negocio en Línea y Tienda Virtual.
                        p  Tienda Virtual.
                        span Valor:  COP11.514 millones.
                        p Se capacitaron más de 5.490 empresas y se ofrecieron soluciones tecnológicas para la creación de tiendas virtuales para fortalecer el comercio electrónico y la reactivación de mipymes
                    .image-box
                        img(src='./images/asistencia-slider6.jpg', alt='')
            .asistencia-textimage-box.wrapper
                .textimage-box-content
                    .text-box
                        p En alianza con el Ministerio de Cultura y el Ministerio del Interior se han realizado 41 proyectos
                        p  Convenio con el Ministerio del Interior para la asistencia técnica y administración de recursos del Banco de Proyectos de la Dirección de Democracia, la Participación Ciudadana y la Acción Comunal.
                        span Valor de COP66.052 millones.
                        p Se capacitaron más de 5.490 empresas y se ofrecieron soluciones tecnológicas para la creación de tiendas virtuales para fortalecer el comercio electrónico y la reactivación de mipymes
                    .image-box
                        img(src='./images/asistencia-slider7.jpg', alt='')