include ../components/slider-planificacion-item.pug
.slider-planificacion
    .slider-wrapper.wrapper-intern
        .slider-planificacion-container
            .slider-planificacion-box
                +planificacion-item
                +planificacion-item
                +planificacion-item
                +planificacion-item
        .slider-planificacion-text
            p Plan de Acción Cartago Ciudad Emblemática “Cartago, territorio de progreso, seguro y sostenible” (municipio categoría cuatro al momento de la realización del proyecto, y hoy reclasificado en categoría dos).
            a(href="#") Para conocer más sobre esta iniciativa haga
                span clic aquí