mixin desarrollo-item(foto="https://placehold.co/538x415", texto="<span>Transferencia de capacidades hacia entidades territoriales:</span> aprovechamos nuestro conocimiento y experiencia buscando diseñar programas que garanticen su gestión y transferencia hacia los grupos de interés que impactamos. Todo esto mediante una estrategia de educación en habilidades técnicas.")
    .slider-desarrollo-item
        .desarrollo-item-box
            .desarrollo-item-image
                img(src=foto , alt='')
            .desarrollo-item-text
                p !{texto}