include ../components/slider-asistencia-item.pug
.slider-asistencia
    .slider-asistencia-container
        .slider-asistencia-box.wrapper
            +asistencia-item("./images/asistencia-banner1.jpg", "Sector agua potable y saneamiento básico")
            +asistencia-item("./images/asistencia-banner2.jpg", "Sector deporte <br> y recreación")
            +asistencia-item("./images/asistencia-banner3.jpg", "Desarrollo urbano <br><br>")
            +asistencia-item("./images/asistencia-banner5.jpg", "Sector de educación<br><br>")
            +asistencia-item("./images/asistencia-banner6.jpg", "Sector de transporte<br> y movilidad")
            +asistencia-item("./images/asistencia-banner7.jpg", "Sector de tecnologías de la información y las comunicaciones")
            +asistencia-item("./images/asistencia-banner8.jpg", "Sector de fortalecimiento y desarrollo productivo")

    .asistencia-textimage-container
            .asistencia-textimage-box.wrapper
                .text-box
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, autem ullam ratione sed a magni accusamus quidem dolorem deserunt veritatis reprehenderit fugit doloremque aperiam possimus saepe placeat provident blanditiis dolore!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero enim cupiditate asperiores modi consectetur doloremque autem numquam, ducimus amet in fugiat veniam fuga ipsa laudantium soluta, fugit a accusamus perspiciatis!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nostrum magnam tempore, beatae dolore quidem corrupti laudantium sunt earum, porro minus ipsum obcaecati error iste aliquid culpa illum a hic.
                    span Valor Cop 2.347 millones
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil omnis culpa iste sunt accusamus quibusdam magnam nobis ea dolorem adipisci, ipsa temporibus. Alias excepturi, error enim iusto recusandae saepe neque.
                .image-box
                    img(src='https://placehold.co/50x50/orange/white', alt='')
            .asistencia-textimage-box.wrapper
                .text-box
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, autem ullam ratione sed a magni accusamus quidem dolorem deserunt veritatis reprehenderit fugit doloremque aperiam possimus saepe placeat provident blanditiis dolore!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero enim cupiditate asperiores modi consectetur doloremque autem numquam, ducimus amet in fugiat veniam fuga ipsa laudantium soluta, fugit a accusamus perspiciatis!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nostrum magnam tempore, beatae dolore quidem corrupti laudantium sunt earum, porro minus ipsum obcaecati error iste aliquid culpa illum a hic.
                    span Valor Cop 2.347 millones
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil omnis culpa iste sunt accusamus quibusdam magnam nobis ea dolorem adipisci, ipsa temporibus. Alias excepturi, error enim iusto recusandae saepe neque.
                .image-box
                    img(src='https://placehold.co/50x50', alt='')
            .asistencia-textimage-box.wrapper
                .text-box
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, autem ullam ratione sed a magni accusamus quidem dolorem deserunt veritatis reprehenderit fugit doloremque aperiam possimus saepe placeat provident blanditiis dolore!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero enim cupiditate asperiores modi consectetur doloremque autem numquam, ducimus amet in fugiat veniam fuga ipsa laudantium soluta, fugit a accusamus perspiciatis!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nostrum magnam tempore, beatae dolore quidem corrupti laudantium sunt earum, porro minus ipsum obcaecati error iste aliquid culpa illum a hic.
                    span Valor Cop 2.347 millones
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil omnis culpa iste sunt accusamus quibusdam magnam nobis ea dolorem adipisci, ipsa temporibus. Alias excepturi, error enim iusto recusandae saepe neque.
                .image-box
                    img(src='https://placehold.co/50x50', alt='')
