include ../components/slider-desarrollo-item.pug
.slider-desarrollo
    .slider-desarrollo-container.wrapper-intern
        .slider-desarrollo-box.wrapper-intern
            +desarrollo-item()
            +desarrollo-item()
            +desarrollo-item()
            +desarrollo-item()
            +desarrollo-item()
            +desarrollo-item()
