mixin video-banner(text, idvideo, textbtn, linkbtn, viewButton)
    section.video-banner-container
        .video-banner
            .video-text
                p&attributes(attributes)=text
                if viewButton
                    a(href=linkbtn target="_blank")=textbtn
            .video-embed
                lite-youtube(videoid!=idvideo)