@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
.wrapper-intern {
    max-width: 50vw;
    margin: 0 auto;
}
.wrapper-intern-70 {
    max-width: 70vw;
    margin: 0 auto;
}
.section-title {
    text-align: center;
    font-size: 3.75rem;
    font-weight: 700;
}

.home-icon {
    fill: var(--color-primary);
}

.global-container {
    margin-top: 5rem;
}

.global-box {
}

.global-title {
    padding: 0rem 1.2rem;
    h1 {
        font-size: 3.75rem;
        font-weight: 700;
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 3rem;
    }
}

.global-text {
    max-width: 70vw;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;
    color: var(--color-secondary);
    margin-bottom: 3rem;
    p {
        margin-bottom: 2rem;
        padding: 0rem 2rem;
    }
}

.fw-600 {
    font-weight: 600;
}
.btn {
    a {
        background-color: var(--green-500);
        padding: 1rem 4rem;
        display: flex;
        text-decoration: none;
        color: white;
        font-weight: 500;
        border-radius: 2rem;
        font-size: 1.125rem;
    }
}

.d-none {
    display: none;
}

@media(min-width: 1201px) {
    .d-none {
        display: block;
    }
}
@media(max-width: 1200px) {
    .wrapper-intern {
        max-width: 80vw;
    }
    .wrapper-intern-70 {
        max-width: 90vw;
        margin: 0 auto;
    }
    .global-text {
        max-width: 100vw;
    }
}
@media(max-width: 500px) {
    .wrapper-intern {
        max-width: 90vw;
    }
    .wrapper-intern-70 {
        max-width: 90vw;
        margin: 0 auto;
    }
    .global-container {
        margin-top: 3rem;
    }
    .global-title {
        padding: 1rem;
        h1 {
            margin-bottom: 0rem;
            font-size: 2rem;
        }
    }
    .global-text {
        padding: 0rem;
        margin-bottom: 1rem;
        p {
            font-size: 1.3rem;
            padding: 0rem 1rem;
        }
    }
}