.page-title {
    margin-top: 3rem;
    padding: 0rem 10%;
    h1 {
        font-size: 3.75rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3rem;
        color: var(--color-primary);
    }
    p {
        font-size: 1.5rem;
        line-height: 1.4;
        text-align: center;
        color: #2d549d;
    }
}

.page-cards-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}
// Cifras
.page-cifras-section {
    display: flex;
    justify-content: center;
}
.cifras-container {
    width: 100%;
    margin-top: 7rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 5rem;
}
.cards-dos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media(min-width: 1201px) {}
@media(max-width: 1200px) {}
@media(max-width: 500px) {}