$color-primary: #112d6a;
$color-secondary: #2d549d;
$color-3: #b7d831;
$green-500: #43a756;
$background-color-page: #ECF3FA;
$white: #FFFFFF;
//Header
$hover-nav-color: #2d549d;
$text-nav-color: #112d6a;

:root {
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-3: #{$color-3};
    --green-500: #{$green-500};
    --white: #{$white};
    --background-color-page: #{$background-color-page};
    --hover-nav-color: #{$hover-nav-color};
    --text-nav-color: #{$text-nav-color};
}

.bg1 {
    background-color: #4088c7d8;
}
.bg2 {
    background-color: #43a755d8;
}
.bg3 {
    background-color: #b7d831d8;
}
.color1 {
    color: var(--color-primary);
}