$color-primary: #112d6a;

$background-color-page: #ECF3FA;
//Header
$hover-nav-color: #2d549d;
$text-nav-color: #112d6a;

:root {
    --color-primary: #{$color-primary};
    --background-color-page: #{$background-color-page};
    --hover-nav-color: #{$hover-nav-color};
    --text-nav-color: #{$text-nav-color};
}