doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Findeter
        include head.pug
    body
        // include ../components/header.pug
        block content
        script(type='module' src='https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js')
        script(src='./js/jquery-3.7.1.min.js')
        script(src='./js/slick.min.js')
        script(src='./js/main.js')
        script(src='./js/sliders.js')
        include ../components/footer.pug